.clear {
  clear: both; }

.clearfix:after {
  content: ".";
  height: 0;
  clear: both;
  display: block;
  visibility: hidden; }

.hidden {
  display: none !important; }

.boldi {
  font-weight: bold;
  white-space: nowrap; }

html, body, div, img, h1, h2, h3, h4, p, ul, li {
  margin: 0;
  padding: 0;
  border: 0; }

html, body {
  width: 100%;
  height: 100%; }

body {
  font: normal 17px/25px "Source Sans Pro", Helvetica, Arial, sans-serif;
  text-align: center;
  color: #333;
  background: #EEE7D5; }

noscript {
  width: 100%;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  color: #E22900;
  text-align: center;
  font-weight: bold; }

h1, h2 {
  line-height: 40px; }

h1 {
  font-size: 30px; }
  h1 a {
    color: #14A1D0 !important;
    transition: all 0.5s ease;
    display: block; }
    h1 a span {
      text-decoration: underline; }
      h1 a span.big {
        font-size: 38px;
        position: relative;
        top: 4px;
        text-decoration: none;
        text-shadow: 1px 1px #000; }
    h1 a:hover {
      text-shadow: 1px 1px #000; }

h2 {
  font: normal 18px/48px "Source Sans Pro",Helvetica,Arial,sans-serif;
  padding: 0; }

h4 {
  font-size: 17px;
  color: #515150; }

ul, li {
  list-style: none; }

p {
  padding: 7px 0;
  color: #515150; }

noscript {
  padding-top: 16px;
  font-size: 16px;
  line-height: 16px; }

.inner {
  width: 920px;
  margin: 0 auto;
  text-align: left;
  position: relative; }

.hgroup {
  float: left;
  padding: 10px 0 0 6px; }

.heading {
  font-size: 18px; }

.about, .work, .contact {
  position: relative;
  z-index: 97;
  background: url(../images/bg-pattern.jpg) repeat center 0;
  border-top: 1px solid #81C7E3;
  border-bottom: 1px solid #81C7E3; }

footer {
  height: 170px;
  text-align: center;
  line-height: 28px;
  font-size: 12px;
  background: #ede7db url(../images/cloud-windmills.jpg) repeat-x center 100%; }

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  opacity: 0.95;
  z-index: 99;
  border-bottom: 1px solid #eee7d5; }
  .header h2 {
    padding-left: 5px; }

.home {
  background: #D9D9D7 url(../images/fern-leaf.jpg) no-repeat 0 100%;
  padding: 12px 0;
  margin: 102px 0 0;
  border-top: 1px solid #81C7E3;
  border-bottom: 1px solid #81C7E3; }

.home-left {
  width: 47%;
  float: left;
  padding-left: 13px; }

.home-right {
  width: 48%;
  float: right;
  min-height: 313px;
  min-width: 340px;
  position: relative;
  text-align: center; }
  .home-right p.intro {
    color: #333;
    font-family: "Reem Kufi";
    font-size: 19px; }
    .home-right p.intro span {
      display: none; }
  .home-right h3.acronyms {
    width: 90%;
    height: 266px;
    display: block;
    position: absolute;
    top: 36px;
    right: 18px;
    font-family: "Open Sans"; }
    .home-right h3.acronyms span {
      display: none;
      position: absolute;
      line-height: 32px; }

.currentStatus {
  float: left;
  display: block;
  border-radius: 7px;
  margin: 20px 0 6px;
  padding: 10px 0 12px;
  text-align: center !important;
  border: 1px solid #cdcdcd;
  background: linear-gradient(135deg, #75cdf5, #fff); }
  .currentStatus h4 {
    padding: 0 10px;
    font-weight: 400; }

.a0 {
  top: 45px;
  left: 39px;
  font-size: 32px;
  color: #297ED8; }

.a1 {
  top: 166px;
  left: 76px;
  font-size: 30px;
  color: #5196E0; }

.a2 {
  top: 86px;
  left: 288px;
  font-size: 31px;
  color: #258DD6; }

.a3 {
  top: 154px;
  left: 236px;
  font-size: 30px;
  color: #2399D4; }

.a4 {
  top: 218px;
  left: 158px;
  font-size: 30px;
  color: #21A0D3; }

.a5 {
  top: 240px;
  left: 14px;
  font-size: 29px;
  color: #20A6D2; }

.a6 {
  top: 113px;
  left: 172px;
  font-size: 28px;
  color: #2DABD4; }

.a7 {
  top: 188px;
  left: 303px;
  font-size: 28px;
  color: #3FB2D8; }

.a8 {
  top: 22px;
  left: 222px;
  font-size: 27px;
  color: #297ED8; }

.a9 {
  top: 130px;
  left: 9px;
  font-size: 26px;
  color: #5196E0; }

.a10 {
  top: 241px;
  left: 298px;
  font-size: 26px;
  color: #4978E2; }

.a11 {
  top: 46px;
  left: 134px;
  font-size: 28px;
  color: #5196E0; }

.a12 {
  top: 248px;
  left: 224px;
  font-size: 25px;
  color: #5197E0; }

.a13 {
  top: 7px;
  left: 15px;
  font-size: 24px;
  color: #20A6D2; }

.a14 {
  top: 83px;
  left: 124px;
  font-size: 24px;
  color: #4771E1; }

.a15 {
  top: 9px;
  left: 306px;
  font-size: 26px;
  color: #297ed8; }

.a16 {
  top: 202px;
  left: 30px;
  font-size: 25px;
  color: #5BBEDE; }

.a17 {
  top: 210px;
  left: 97px;
  font-size: 20px;
  color: #3FB2D8; }

.a18 {
  top: 128px;
  left: 104px;
  font-size: 22px;
  color: #5196E0; }

.a19 {
  top: 51px;
  left: 256px;
  font-size: 20px;
  color: #258DD6; }

.a20 {
  top: 145px;
  left: 311px;
  font-size: 21px;
  color: #3C45E4; }

.a21 {
  top: 15px;
  left: 90px;
  font-size: 22px;
  color: #5196E0; }

.a22 {
  top: 78px;
  left: 13px;
  font-size: 20px;
  color: #4771E1; }

.a23 {
  top: 248px;
  left: 97px;
  font-size: 20px;
  color: #3C45E4; }

.a24 {
  top: 102px;
  left: 58px;
  font-size: 20px;
  color: #21A0D3; }

.a25 {
  top: 182px;
  left: 172px;
  font-size: 16px;
  color: #3C45E4; }

.a26 {
  top: 216px;
  left: 258px;
  font-size: 19px;
  color: #5BBEDE; }

.a27 {
  top: 166px;
  left: 20px;
  font-size: 19px;
  color: #3C45E4; }

.a28 {
  top: 148px;
  left: 175px;
  font-size: 20px;
  color: #2DABD4; }

.a29 {
  top: 4px;
  left: 174px;
  font-size: 18px;
  color: #2399D4; }

.a30 {
  top: 76px;
  left: 202px;
  font-size: 22px;
  color: #297ED8; }

.a31 {
  top: 253px;
  left: 170px;
  font-size: 17px;
  color: #21A0D3; }

.a32 {
  top: 190px;
  left: 236px;
  font-size: 17px;
  color: #20A6D2; }

.a33 {
  top: 120px;
  left: 270px;
  font-size: 17px;
  color: #3D49E4; }

.about {
  padding: 12px 0;
  background: linear-gradient(135deg, #75cdf5, #fff);
  border-bottom-width: 2px;
  border-top-width: 2px; }

.about .inner {
  z-index: 99; }

.about h3 {
  padding: 10px 0; }

.about p {
  width: 88%;
  float: left;
  font-size: 15px; }

.about p.about-title {
  font-weight: bold;
  font-style: italic; }

.about .open p {
  visibility: visible; }

.about-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: none;
  opacity: 0.5;
  display: block; }

.work {
  background: #999 url(../images/feather.jpg) no-repeat right top;
  color: #000;
  overflow: hidden;
  z-index: 93;
  padding: 16px 0 0;
  position: relative;
  z-index: 97;
  border-top: 1px solid #81C7E3;
  border-bottom: 1px solid #81C7E3; }
  .work .inner {
    z-index: 95;
    text-align: center; }
    .work .inner p {
      color: white;
      padding: 10px 0 12px; }
      .work .inner p.selection {
        text-align: center; }
  .work #siteinfo {
    font: normal 15px/24px "Open Sans";
    display: block; }
    .work #siteinfo a {
      color: white;
      font-style: italic; }
      .work #siteinfo a:hover {
        color: black; }
      strong .work #siteinfo a {
        font-size: 17px; }
  .work ul {
    color: white;
    display: block;
    margin: 24px auto 0; }
    .work ul li {
      margin: 0;
      padding: 0;
      width: 25%;
      display: block;
      float: left;
      text-align: center; }
      .work ul li .box {
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        border-radius: 6px;
        width: 169px;
        height: 133px;
        position: relative;
        cursor: pointer;
        overflow: hidden;
        margin: 0 auto 43px;
        border: 1px solid #666; }
      .work ul li p {
        text-shadow: 1px 1px 1px 1px #000;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 77;
        line-height: 37px;
        font-size: 18px;
        font-weight: bold; }
        .work ul li p sup {
          position: relative;
          top: 8px;
          font-size: 14px;
          font-style: italic; }
      .work ul li span {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        border-radius: 6px; }
      .work ul li .layer {
        background: #333;
        z-index: 44;
        opacity: 0.82; }
      .work ul li .img {
        z-index: 33;
        background: url(../images/thumbs-169x133-nov2015.jpg) no-repeat 0 0; }
      .work ul li .button {
        background: url(../images/play.png) no-repeat center;
        z-index: 39; }
      .work ul li .bg1 {
        background: url(../images/diag-left.png) no-repeat 0 0;
        z-index: 55; }
      .work ul li .bg2 {
        background: url(../images/diag-right.png) no-repeat 0 0;
        z-index: 55; }
      .work ul li .info {
        display: none;
        font-size: 55px; }
      .work ul li.active .img {
        opacity: 0.5; }
      .work ul li.active .button {
        background: url(../images/pause.png) no-repeat center;
        opacity: 0.55; }
      .work ul li.active.over .button {
        opacity: 1; }
      .work ul li.active.paused .button {
        background: url(../images/play.png) no-repeat center;
        z-index: 39; }
      .work ul li.site4, .work ul li.site8, .work ul li.site12 {
        margin-right: 0; }
      .work ul li.sff .img {
        background-position: 0 0; }
      .work ul li.scopevisio .img {
        background-position: -169px 0; }
      .work ul li.liftoff .img {
        background-position: -338px 0; }
      .work ul li.toptobottom .img {
        background-position: -507px 0; }
      .work ul li.coats .img {
        background-position: -676px 0; }
      .work ul li.mc .img {
        background-position: -845px 0px; }
      .work ul li.nzso .img {
        background-position: 0 -133px; }
      .work ul li.hito .img {
        background-position: -169px -133px; }
      .work ul li.fingertapps .img {
        background-position: -338px -133px; }
      .work ul li.overland .img {
        background-position: -507px -133px; }
      .work ul li.ffs .img {
        background-position: -676px -133px; }
      .work ul li.stoptober .img {
        background-position: -845px -133px; }

#sitebg {
  width: 1000%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../images/websites1y515.jpg) repeat center 0;
  opacity: 0.07;
  z-index: 94;
  display: block; }
  #sitebg.site5-bg, #sitebg.site6-bg, #sitebg.site7-bg, #sitebg.site8-bg {
    background-image: url(../images/websites2y515.jpg); }
  #sitebg.site9-bg, #sitebg.site10-bg, #sitebg.site11-bg, #sitebg.site12-bg {
    background-image: url(../images/websites3y515.jpg); }
  #sitebg.site1-bg, #sitebg.site5-bg, #sitebg.site9-bg {
    background-position: center 47px; }
  #sitebg.site2-bg, #sitebg.site6-bg, #sitebg.site10-bg {
    background-position: center -468px; }
  #sitebg.site3-bg, #sitebg.site7-bg, #sitebg.site11-bg {
    background-position: center -983px; }
  #sitebg.site4-bg, #sitebg.site8-bg, #sitebg.site12-bg {
    background-position: center -1498px; }

.contact .inner {
  padding: 10px 0 20px; }
.contact aside {
  position: relative;
  z-index: 111;
  width: 38%;
  float: right;
  text-align: center; }
  .contact aside a {
    width: 61px;
    height: 60px;
    display: inline-block;
    background: url(../images/icons.png) no-repeat 0 0;
    margin: 3px 3px 0 9px; }
    .contact aside a.pdf {
      background-position: 0 -60px; }
.contact ul {
  position: relative;
  z-index: 99; }
  .contact ul li {
    padding: 10px 0;
    font-size: 14px; }
    .contact ul li a {
      padding-left: 20px;
      color: #14a1d0; }
    .contact ul li.link {
      padding: 5px 0 0 10px; }
      .contact ul li.link.linkedin a {
        background: url(../images/icon-linkedin.png) no-repeat 0 2px; }
      .contact ul li.link.stackoverflow a {
        background: url(../images/icon-stackoverflow.png) no-repeat 0 2px; }
      .contact ul li.link.github a {
        background: url(../images/icon-github.png) no-repeat 0 2px; }
@media screen and (max-width: 980px) {
  .contact .inner {
    padding: 10px 2.5% 20px; } }
@media screen and (max-width: 768px) {
  .contact ul li label {
    font-size: 15px;
    line-height: 17px;
    padding-right: 0;
    display: block; } }

.contact label {
  padding-right: 9px;
  font-weight: bold;
  display: inline-block;
  line-height: 24px; }

.contact ul span {
  cursor: pointer;
  color: #009EE3;
  text-decoration: underline;
  line-height: 24px; }

.contact ul em {
  display: none;
  line-height: 24px;
  display: inline-block; }

.contact-bg {
  width: 195px;
  height: 160px;
  position: absolute;
  bottom: 0;
  right: 5%;
  opacity: 0.3;
  z-index: 98; }

.download {
  width: 170px;
  margin: 0 auto;
  text-align: left; }

.download .heading {
  padding-left: 12px; }

.nav-wrapper {
  width: 48%;
  float: right;
  text-align: center; }
  .nav-wrapper nav {
    padding: 63px 0 0;
    margin: 0 auto 7px;
    width: 300px; }
    .nav-wrapper nav ul {
      width: 300px; }
      .nav-wrapper nav ul li {
        float: left;
        display: block;
        text-transform: uppercase;
        text-align: center; }
        .nav-wrapper nav ul li a {
          color: #5a782a;
          text-decoration: none;
          cursor: pointer;
          font: normal 16px/18px "Reem Kufi"; }
          .nav-wrapper nav ul li a:hover {
            color: #737372;
            border-bottom: 2px solid #737372; }
        .nav-wrapper nav ul li#nav-home {
          width: 68px; }
        .nav-wrapper nav ul li#nav-about {
          width: 74px; }
        .nav-wrapper nav ul li#nav-work {
          width: 68px; }
        .nav-wrapper nav ul li#nav-contact {
          width: 90px; }

.nav-home #nav-home a,
.nav-about #nav-about a,
.nav-work #nav-work a,
.nav-contact #nav-contact a {
  color: #14A1D0;
  border-bottom: 2px solid #14A1D0; }

#nav-slider {
  width: 287px;
  position: relative; }

.ui-slider-handle {
  width: 12px;
  height: 21px;
  position: absolute;
  top: -20px;
  background: url(../images/slider.png) no-repeat 0 0;
  outline: 0; }

@media screen and (max-width: 980px) {
  .inner, fieldset.currentStatus, .home-left {
    width: 100%;
    float: none;
    box-sizing: border-box; }

  .inner {
    padding: 0 2.5%; }

  .home-left {
    width: 40%; }

  .home-right h3.acronyms {
    right: 12%; }

  .download {
    text-align: left; }

  .work ul li {
    width: 33.333%; } }
@media screen and (max-width: 768px) {
  .header {
    position: relative; }
    .header h2 {
      padding-left: 0; }
    .header .inner {
      width: 100%;
      padding: 0; }

  .inner {
    text-align: center;
    padding: 0 10px; }

  .hgroup {
    padding: 3px 0 0;
    float: none; }

  .nav-wrapper {
    width: 100%; }
    .nav-wrapper nav {
      padding-top: 12px;
      margin-bottom: 12px; }

  .home {
    margin: 0; }

  .home-right {
    display: none; }

  .home-left {
    padding: 0 12px;
    width: 100%; }

  .work ul li {
    width: 50%; }

  .about p {
    width: 100%; }

  .contact aside {
    position: relative;
    right: 12%; } }
@media screen and (max-width: 480px) {
  .currentStatus .boldi {
    text-align: center;
    padding-right: 5px; }

  .contact aside {
    float: none;
    width: 100%;
    right: 0; }
  .contact ul li {
    padding: 10px 5px !important;
    text-align: center; }
  .contact label {
    display: block; }
  .contact .contact-bg {
    right: 0; }

  .download {
    text-align: center;
    padding-bottom: 10px; }

  .download .heading {
    padding-left: 0; }

  .work ul li {
    width: 100%; } }

/*# sourceMappingURL=style.css.map */
