.clear {
  clear: both; }

.clearfix:after {
  content: ".";
  height: 0;
  clear: both;
  display: block;
  visibility: hidden; }

.hidden {
  display: none !important; }

.boldi {
  font-weight: bold;
  white-space: nowrap; }

html, body, div, img, h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
  border: 0; }

html, body {
  width: 100%;
  height: 100%; }

body {
  font: normal 16px/24px "Source Sans Pro", Helvetica, Arial, sans-serif;
  text-align: center;
  color: #515150;
  background: #EEE7D5; }

a {
  word-wrap: break-word;
  color: #14a1d0; }
  a:focus, a:hover {
    outline: none; }

h1 {
  font-size: 30px;
  line-height: 44px; }
  h1 a {
    color: #14A1D0 !important;
    transition: all 0.5s ease;
    display: block; }
    h1 a span {
      text-decoration: underline; }
      h1 a span.big {
        font-size: 38px;
        position: relative;
        top: 4px;
        text-decoration: none;
        text-shadow: 1px 1px #000; }
    h1 a:hover {
      text-shadow: 1px 1px #000; }

h2 {
  font: normal 18px/48px "Reem Kufi";
  padding: 0; }

h4 {
  font-size: 17px;
  color: #515150; }

ul, li {
  list-style: none; }

p {
  padding: 7px 0;
  color: #515150; }

noscript {
  width: 100%;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  color: #E22900;
  text-align: center;
  padding-top: 16px;
  font: bold 16px/16px "Source Sans Pro", Helvetica, Arial, sans-serif; }

noscript {
  font-size: 16px;
  line-height: 16px; }

.inner {
  width: 920px;
  margin: 0 auto;
  text-align: left;
  position: relative; }

.hgroup {
  float: left;
  padding: 10px 0 0; }

.heading {
  font-size: 18px; }

.article {
  position: relative;
  z-index: 97;
  background: url(../images/bg-pattern.jpg) repeat center 0;
  border-top: 1px solid #81c7e3;
  border-bottom: 1px solid #81c7e3; }
  .article.work {
    border-bottom: 0; }

footer {
  height: 100px;
  text-align: center;
  line-height: 28px;
  font-size: 12px;
  background: #ede7db url(../images/cloud-windmills.jpg) repeat-x center 100%; }
  footer p {
    color: white; }

.header {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  background: #fff;
  opacity: 0.95;
  z-index: 99;
  border-bottom: 1px solid #EEE7D5; }
  .header .inner {
    width: 850px; }

.home {
  background: #d9d9d7 url(../images/fern-leaf.jpg) no-repeat 0 100%;
  padding: 12px 0;
  border-top: 1px solid #81c7e3; }

.home-left {
  width: 47%;
  float: left;
  padding-left: 36px; }

.home-right {
  width: 320px;
  float: right;
  min-height: 303px;
  position: relative;
  right: 54px;
  text-align: center; }
  .home-right p.intro {
    color: #515150;
    font-family: "Reem Kufi";
    font-size: 18px;
    position: relative;
    right: 7px;
    z-index: 5; }
    .home-right p.intro span {
      display: none; }
  .home-right h2.acronyms {
    width: 320px;
    height: 266px;
    display: block;
    position: absolute;
    top: 36px;
    right: 9px;
    z-index: 5;
    font-family: "Reem Kufi"; }
    .home-right h2.acronyms span {
      display: none;
      position: absolute;
      line-height: 32px; }
  .home-right #gat {
    opacity: 0.333;
    width: 316px;
    height: 274px;
    position: absolute;
    top: 39px;
    right: 71px;
    z-index: 3;
    background-position: center middle;
    background-repeat: no-repeat;
    transition: opacity 0.666s ease-in-out;
    -webkit-transition: opacity 0.666s ease-in-out;
    -moz-transition: opacity 0.666s ease-in-out;
    -o-transition: opacity 0.666s ease-in-out;
    -ms-transition: opacity 0.666s ease-in-out; }
    .home-right #gat.active {
      opacity: 0.333; }

.currentStatus {
  float: left;
  display: block;
  border-radius: 7px;
  margin: 20px 0 6px;
  padding: 10px 0 12px;
  text-align: center !important;
  border: 1px solid #cdcdcd;
  background: linear-gradient(135deg, #75cdf5, #fff); }
  .currentStatus h4 {
    padding: 0 10px;
    font-weight: 400; }

.a0 {
  top: 72px;
  left: 8px;
  font-size: 32px;
  color: #297ED8; }

.a1 {
  top: 136px;
  left: 66px;
  font-size: 30px;
  color: #5196E0; }

.a2 {
  top: 62px;
  left: 240px;
  font-size: 31px;
  color: #258DD6; }

.a3 {
  top: 150px;
  left: 226px;
  font-size: 30px;
  color: #2399D4; }

.a4 {
  top: 236px;
  left: 65px;
  font-size: 30px;
  color: #21A0D3; }

.a5 {
  top: 235px;
  left: 14px;
  font-size: 20px;
  color: #20A6D2; }

.a6 {
  top: 115px;
  left: 151px;
  font-size: 28px;
  color: #2DABD4; }

.a7 {
  top: 184px;
  left: 252px;
  font-size: 25px;
  color: #3FB2D8; }

.a8 {
  top: 42px;
  left: 153px;
  font-size: 23px;
  color: #297ED8; }

.a9 {
  top: 132px;
  left: 5px;
  font-size: 24px;
  color: #5196E0; }

.a10 {
  top: 200px;
  left: 138px;
  font-size: 26px;
  color: #4978E2; }

.a11 {
  top: 34px;
  left: 75px;
  font-size: 26px;
  color: #5196E0; }

.a12 {
  top: 233px;
  left: 158px;
  font-size: 25px;
  color: #5197E0; }

.a13 {
  top: 3px;
  left: 12px;
  font-size: 24px;
  color: #20A6D2; }

.a14 {
  top: 70px;
  left: 89px;
  font-size: 24px;
  color: #4771E1; }

.a15 {
  top: 2px;
  left: 245px;
  font-size: 26px;
  color: #297ed8; }

.a16 {
  top: 202px;
  left: 6px;
  font-size: 25px;
  color: #5BBEDE; }

.a17 {
  top: 174px;
  left: 59px;
  font-size: 17px;
  color: #3FB2D8; }

.a18 {
  top: 101px;
  left: 99px;
  font-size: 22px;
  color: #5196E0; }

.a19 {
  top: 30px;
  left: 216px;
  font-size: 17px;
  color: #258DD6; }

.a20 {
  top: 120px;
  left: 248px;
  font-size: 21px;
  color: #3C45E4; }

.a21 {
  top: 0px;
  left: 88px;
  font-size: 22px;
  color: #5196E0; }

.a22 {
  top: 36px;
  left: 24px;
  font-size: 20px;
  color: #4771E1; }

.a23 {
  top: 204px;
  left: 74px;
  font-size: 20px;
  color: #3C45E4; }

.a24 {
  top: 104px;
  left: 34px;
  font-size: 20px;
  color: #21A0D3; }

.a25 {
  top: 170px;
  left: 118px;
  font-size: 16px;
  color: #3C45E4; }

.a26 {
  top: 207px;
  left: 222px;
  font-size: 21px;
  color: #5BBEDE; }

.a27 {
  top: 166px;
  left: 20px;
  font-size: 19px;
  color: #3C45E4; }

.a28 {
  top: 148px;
  left: 175px;
  font-size: 32px;
  color: #2DABD4; }

.a29 {
  top: 4px;
  left: 174px;
  font-size: 27px;
  color: #2399D4; }

.a30 {
  top: 80px;
  left: 158px;
  font-size: 22px;
  color: #297ED8; }

.a31 {
  top: 234px;
  left: 252px;
  font-size: 26px;
  color: #21A0D3; }

.a32 {
  top: 177px;
  left: 201px;
  font-size: 17px;
  color: #20A6D2; }

.a33 {
  top: 94px;
  left: 224px;
  font-size: 17px;
  color: #3D49E4; }

.about {
  padding: 12px 0;
  background: linear-gradient(135deg, #75cdf5, #fff);
  border-bottom: 0; }
  .about .inner {
    z-index: 99;
    width: 844px; }
  .about h3 {
    padding: 10px 0; }
  .about p {
    width: 88%;
    float: left; }
    .about p.about-title {
      font-weight: bold;
      font-style: italic; }
  .about .open p {
    visibility: visible; }

.about-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: none;
  opacity: 0.5;
  display: block; }

.work {
  background: #999 url(../images/feather.jpg) no-repeat right top;
  color: #000;
  overflow: hidden;
  z-index: 93;
  padding: 16px 0 0;
  position: relative;
  z-index: 97; }
  .work .inner {
    z-index: 95;
    text-align: center; }
    .work .inner p {
      color: white;
      padding: 6px 0 0; }
      .work .inner p.selection {
        text-align: center;
        font-family: "Reem Kufi";
        font-size: 20px;
        text-shadow: 1px 1px #515150; }
  .work #siteinfo {
    font: normal 16px/24px "Reem Kufi";
    display: block;
    padding: 0 36px;
    text-align: justify; }
    .work #siteinfo a {
      color: white;
      font-style: italic; }
      .work #siteinfo a:hover {
        color: #515150; }
      strong .work #siteinfo a {
        font-size: 17px; }
  .work ul {
    color: white;
    display: block;
    margin: 24px auto 0;
    font-family: "Reem Kufi"; }
    .work ul li {
      margin: 0;
      padding: 0;
      width: 25%;
      display: block;
      float: left;
      text-align: center;
      line-height: 30px; }
      .work ul li .box {
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        border-radius: 6px;
        width: 169px;
        height: 133px;
        position: relative;
        cursor: pointer;
        overflow: hidden;
        margin: 0 auto 43px;
        border: 1px solid #666; }
      .work ul li .text {
        text-shadow: 1px 1px 1px 1px #000;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 77;
        line-height: 30px;
        font-size: 18px;
        font-weight: bold; }
        .work ul li .text h3, .work ul li .text h4, .work ul li .text h5 {
          color: white;
          padding-top: 10px;
          line-height: 30px;
          transition: opacity 0.333s ease-in-out;
          -webkit-transition: opacity 0.333s ease-in-out;
          -moz-transition: opacity 0.333s ease-in-out;
          -o-transition: opacity 0.333s ease-in-out;
          -ms-transition: opacity 0.333s ease-in-out; }
        .work ul li .text h3 {
          font-size: 18px; }
        .work ul li .text h4 {
          font-size: 15px;
          font-style: italic; }
        .work ul li .text h5 {
          font-size: 14px; }
      .work ul li span {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        border-radius: 6px; }
      .work ul li .layer {
        background: #333;
        z-index: 44;
        opacity: 0.82; }
      .work ul li .img {
        z-index: 33;
        background-image: url(../images/thumbs-169x133.jpg); }
      .work ul li .button {
        background: url(../images/play.png) no-repeat center;
        z-index: 39; }
      .work ul li .bg1 {
        background: url(../images/diag-left.png) no-repeat 0 0;
        z-index: 55; }
      .work ul li .bg2 {
        background: url(../images/diag-right.png) no-repeat 0 0;
        z-index: 55; }
      .work ul li .info {
        display: none;
        font-size: 55px; }
      .work ul li.over h3, .work ul li.over h4, .work ul li.over h5 {
        opacity: 0; }
      .work ul li.active .img {
        opacity: 0.5; }
      .work ul li.active .button {
        background: url(../images/pause.png) no-repeat center;
        opacity: 0.55; }
      .work ul li.active.over .button {
        opacity: 1; }
      .work ul li.active.paused .button {
        background: url(../images/play.png) no-repeat center;
        z-index: 39; }
      .work ul li.active h3, .work ul li.active h4 {
        opacity: 0; }
      .work ul li.site4, .work ul li.site8, .work ul li.site12 {
        margin-right: 0; }
      .work ul li.sff .img {
        background-position: 0 0; }
      .work ul li.scopevisio .img {
        background-position: -169px 0; }
      .work ul li.liftoff .img {
        background-position: -338px 0; }
      .work ul li.toptobottom .img {
        background-position: -507px 0; }
      .work ul li.coats .img {
        background-position: -676px 0; }
      .work ul li.mc .img {
        background-position: -845px 0px; }
      .work ul li.nzso .img {
        background-position: 0 -133px; }
      .work ul li.hito .img {
        background-position: -169px -133px; }
      .work ul li.roche .img {
        background-position: -338px -133px; }
      .work ul li.dryitonline .img {
        background-position: -507px -133px; }
      .work ul li.ffs .img {
        background-position: -676px -133px; }
      .work ul li.stoptober .img {
        background-position: -845px -133px; }

#sitebg {
  width: 1000%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../images/websites1y515.jpg) repeat center 0;
  opacity: 0.07;
  z-index: 94;
  display: block;
  /*&.site, &.site, &.site, &.site{
  	background-image:url(../images/websites2y515.jpg);
  }
  &.site, &.site1, &.site, &.site2{
  	background-image:url(../images/websites3y515.jpg);
  }
  &.site1, &.site5, &.site9{
  	background-position:center 47px;
  }
  &.site2, &.site6, &.site10{
  	background-position:center -468px;
  }
  &.site3, &.site7, &.site11{
  	background-position:center -983px;
  }
  &.site4, &.site8, &.site12{
  	background-position:center -1498px;
  }*/ }
  #sitebg.roche-bg {
    background-image: url(../images/websites2y515.jpg);
    background-position: left -1030px; }
  #sitebg.ffs-bg {
    background-image: url(../images/websites3y515.jpg);
    background-position: left -515px; }
  #sitebg.stoptober-bg {
    background-image: url(../images/websites3y515.jpg);
    background-position: center -1545px; }
  #sitebg.mc-bg {
    background-image: url(../images/websites3y515.jpg);
    background-position: center -1030px; }
  #sitebg.coats-bg {
    background-image: url(../images/websites3y515.jpg);
    background-position: left 0; }
  #sitebg.liftoff-bg {
    background-image: url(../images/websites1y515.jpg);
    background-position: center -1030px; }
  #sitebg.sff-bg {
    background-image: url(../images/websites1y515.jpg);
    background-position: center 0; }
  #sitebg.scopevisio-bg {
    background-image: url(../images/websites1y515.jpg);
    background-position: left -515px; }
  #sitebg.nzso-bg {
    background-image: url(../images/websites2y515.jpg);
    background-position: left 0; }
  #sitebg.toptobottom-bg {
    background-image: url(../images/websites1y515.jpg);
    background-position: center -1545px; }
  #sitebg.hito-bg {
    background-image: url(../images/websites2y515.jpg);
    background-position: center -515px; }
  #sitebg.dryitonline-bg {
    background-image: url(../images/websites2y515.jpg);
    background-position: left -1545px; }

.contact .inner {
  padding: 10px 0 20px; }
.contact aside {
  position: relative;
  z-index: 111;
  width: 38%;
  float: right;
  text-align: center; }
  .contact aside a {
    width: 61px;
    height: 60px;
    display: inline-block;
    background: url(../images/gt-icons.png) no-repeat 0 -16px;
    margin: 3px 3px 0 9px; }
    .contact aside a.pdf {
      background-position: 0 -76px; }
.contact label {
  padding-right: 9px;
  font-weight: bold;
  display: inline-block;
  line-height: 24px;
  width: 112px;
  text-align: right; }
.contact ul {
  position: relative;
  z-index: 99; }
  .contact ul li {
    padding: 10px 0;
    font-size: 14px;
    position: relative; }
    .contact ul li a {
      padding-left: 20px;
      color: #14a1d0; }
    .contact ul li span {
      cursor: pointer;
      color: #009EE3;
      text-decoration: underline;
      line-height: 24px; }
    .contact ul li em {
      display: none;
      line-height: 24px;
      display: inline-block; }
    .contact ul li.con-so label, .contact ul li.con-so ul {
      float: left;
      display: block; }
    .contact ul li.link {
      padding: 0 0 6px 6px; }
      .contact ul li.link a:before {
        width: 16px;
        height: 16px;
        display: block;
        position: absolute;
        content: " ";
        left: 0;
        top: 6px;
        background: url(../images/gt-icons.png) no-repeat 0 0; }
      .contact ul li.link.linkedin a:before {
        background-position: -16px 0; }
      .contact ul li.link.github a:before {
        background-position: -32px 0; }
      .contact ul li.link.stackoverflow a:before {
        background-position: -48px 0; }
    .contact ul li ul {
      display: inline-block; }
  .contact ul.deats label {
    font-family: "Reem Kufi"; }
.contact .download {
  width: 158px;
  margin: 0 auto;
  text-align: left; }
  .contact .download .heading {
    font-family: "Reem Kufi";
    text-align: center; }
.contact .contact-bg {
  width: 195px;
  height: 160px;
  position: absolute;
  bottom: 0;
  right: 5%;
  opacity: 0.3;
  z-index: 98; }

.nav-wrapper {
  width: 45%;
  float: right;
  text-align: center; }
  .nav-wrapper nav {
    padding: 63px 0 0;
    margin: 0 auto 7px;
    width: 300px; }
    .nav-wrapper nav ul {
      width: 300px; }
      .nav-wrapper nav ul li {
        float: left;
        display: block;
        text-transform: uppercase;
        text-align: center; }
        .nav-wrapper nav ul li a {
          color: #5a782a;
          text-decoration: none;
          cursor: pointer;
          font: normal 16px/18px "Reem Kufi"; }
          .nav-wrapper nav ul li a:hover {
            color: #737372;
            border-bottom: 2px solid #737372; }
        .nav-wrapper nav ul li#nav-home {
          width: 68px; }
        .nav-wrapper nav ul li#nav-about {
          width: 74px; }
        .nav-wrapper nav ul li#nav-work {
          width: 68px; }
        .nav-wrapper nav ul li#nav-contact {
          width: 90px; }

.nav-home #nav-home a,
.nav-about #nav-about a,
.nav-work #nav-work a,
.nav-contact #nav-contact a {
  color: #14a1d0;
  border-bottom: 2px solid #14a1d0; }

#nav-slider {
  width: 287px;
  position: relative; }

.ui-slider-handle {
  width: 12px;
  height: 21px;
  position: absolute;
  top: -20px;
  background: url(../images/slider.png) no-repeat 0 0;
  outline: 0; }

@media screen and (max-width: 980px) {
  .inner, fieldset.currentStatus, .home-left {
    width: 100%;
    float: none;
    box-sizing: border-box; }

  .inner {
    padding: 0 2.5%;
    width: 100% !important; }

  .nav-wrapper {
    width: 55%; }

  .home-left {
    width: 46%;
    padding-left: 3px; }

  .download {
    text-align: left; }

  .work ul li {
    width: 33.333%; }

  .contact .inner {
    padding: 10px 2.5% 20px; } }
@media screen and (max-width: 768px) {
  .header h2 {
    padding-left: 0; }
  .header .inner {
    padding: 0; }
  .header .nav-wrapper {
    width: 100%; }
    .header .nav-wrapper nav {
      padding: 12px 0 0;
      margin-bottom: 12px; }

  .inner {
    text-align: center;
    padding: 0 10px; }

  .hgroup {
    padding: 3px 0 0;
    float: none; }

  .home {
    margin: 0; }
    .home .inner {
      padding: 0; }

  .home-right {
    float: none;
    margin: 0 auto;
    right: 0; }
    .home-right p.intro {
      font-size: 16px;
      padding-top: 0; }
    .home-right h2.acronyms {
      right: 0; }

  .home-left {
    padding: 0 12px;
    width: 100%; }

  .work ul li {
    width: 50%; }
  .work #siteinfo {
    padding: 0 12px; }

  .about p {
    width: 100%; }

  .contact aside {
    float: none;
    width: 100%;
    right: 0; }
  .contact .download {
    text-align: center;
    padding-bottom: 10px; }
    .contact .download .heading {
      padding-left: 0; }
  .contact ul li {
    padding: 7px 0 !important;
    text-align: center;
    line-height: 16px;
    font-size: 13px; }
    .contact ul li label {
      font-size: 15px;
      line-height: 17px;
      padding-right: 0;
      display: block;
      width: 100%;
      text-align: center; }
    .contact ul li a {
      padding-left: 0; }
    .contact ul li.con-so label, .contact ul li.con-so ul {
      float: none; }
    .contact ul li.con-so label {
      padding-bottom: 6px; }
    .contact ul li.link {
      padding-left: 0; }
      .contact ul li.link a:before {
        position: relative;
        margin: 0 auto;
        top: -4px; }
  .contact ul.deats li span {
    font-size: 15px; }
  .contact .contact-bg {
    right: 0; }

  .sticky-header .header {
    position: fixed;
    height: 66px; }
    .sticky-header .header h1, .sticky-header .header h2 {
      display: none; }
    .sticky-header .header .nav-wrapper {
      float: none;
      background: #fff;
      height: 50px; }
      .sticky-header .header .nav-wrapper nav {
        margin: 15px auto 0;
        padding: 12px 0 0; }
  .sticky-header .home {
    padding-top: 155px; } }
@media screen and (max-width: 480px) {
  .currentStatus .boldi {
    text-align: center;
    padding-right: 5px; }

  .home {
    padding-top: 6px; }

  .home-right h2.acronyms {
    top: 30px; }

  .work ul li {
    width: 100%; }
    .work ul li.over h3, .work ul li.over h4, .work ul li.over h5 {
      opacity: 0; }
  .work .inner p.selection {
    font-size: 17px; } }

/*# sourceMappingURL=style.css.map */
