.a0{ top:45px; left:39px; font-size:32px; color:#297ED8;}
.a1{ top:166px; left:76px; font-size:30px; color:#5196E0;}
.a2{ top:86px; left:288px; font-size:31px; color:#258DD6;}
.a3{ top:154px; left:236px; font-size:30px; color:#2399D4;}
.a4{ top:218px; left:158px; font-size:30px; color:#21A0D3;}
.a5{ top:240px; left:14px; font-size:29px; color:#20A6D2;}
.a6{ top:113px; left:172px; font-size:28px; color:#2DABD4;}
.a7{ top:188px; left:303px; font-size:28px; color:#3FB2D8;}
.a8{ top:22px; left:222px; font-size:27px; color:#297ED8;}
.a9{ top:130px; left:9px; font-size:26px; color:#5196E0;}
.a10{ top:241px; left:298px; font-size:26px; color:#4978E2;}
.a11{ top:46px; left:134px; font-size:28px; color:#5196E0;}
.a12{ top:248px; left:224px; font-size:25px; color:#5197E0;}
.a13{ top:7px; left:15px; font-size:24px; color:#20A6D2;}
.a14{ top:83px; left:124px; font-size:24px; color:#4771E1;}
.a15{ top:9px; left:306px; font-size:26px; color:#297ed8;}
.a16{ top:202px; left:30px; font-size:25px; color:#5BBEDE;}
.a17{ top:210px; left:97px; font-size:20px; color:#3FB2D8;}
.a18{ top:128px; left:104px; font-size:22px; color:#5196E0;}
.a19{ top:51px; left:256px; font-size:20px; color:#258DD6;}
.a20{ top:145px; left:311px; font-size:21px; color:#3C45E4;}
.a21{ top:15px; left:90px; font-size:22px; color:#5196E0;}
.a22{ top:78px; left:13px; font-size:20px; color:#4771E1;}
.a23{ top:248px; left:97px; font-size:20px; color:#3C45E4;}
.a24{ top:102px; left:58px; font-size:20px; color:#21A0D3;}
.a25{ top:182px; left:172px; font-size:16px; color:#3C45E4;}
.a26{ top:216px; left:258px; font-size:19px; color:#5BBEDE;}
.a27{ top:166px; left:20px; font-size:19px; color:#3C45E4;}
.a28{ top:148px; left:175px; font-size:20px; color:#2DABD4;}
.a29{ top:4px; left:174px; font-size:18px; color:#2399D4;}
.a30{ top:76px; left:202px; font-size:22px; color:#297ED8;}
.a31{ top:253px; left:170px; font-size:17px; color:#21A0D3;}
.a32{ top:190px; left:236px; font-size:17px; color:#20A6D2;}
.a33{ top:120px; left:270px; font-size:17px; color:#3D49E4;}