nav{
	float:right;
	padding:63px 0 0;
	position:relative;
	right:33px;
}
nav ul{
	width:300px;
}
nav li{
	float:left;
	display:block;
	text-transform:uppercase;
	text-align:center;
}
nav li#nav-home{ width:68px;}
nav li#nav-about{ width:74px;}
nav li#nav-work{ width:68px;}
nav li#nav-contact{ width:90px;}
nav ul a{
	color:#5a782a;
	text-decoration:none;
	cursor:pointer;
	font:normal 16px/18px "Source Sans Pro";
}
nav ul a:hover{
	color:#737372; border-bottom:2px solid #737372;
}
.nav-home #nav-home a, .nav-about #nav-about a, .nav-work #nav-work a, .nav-contact #nav-contact a{
	color:#14A1D0;
	border-bottom:2px solid #14A1D0;
}
#nav-slider{
	width:287px;
	position:relative;
}
.ui-slider-handle{
	width:12px;
	height:21px;
	position:absolute;
	top:-20px;
	background:url(../images/slider.png) no-repeat 0 0;
	outline:0;
}
