@media screen and (max-width:980px){
	.inner, fieldset.currentStatus, .home-left{
		width:100%;
		float:none;
		box-sizing: border-box;
	}
	.inner{
		padding:0 2.5%;
	}
	.home-left{
		width:40%;
	}
	.home-right h3{
		width:99%;
	}
	.download{
		text-align:left;
	}
	p.intro{
		font-size: 14px;
	}
	nav{
		right: 30px;
	}
	.work ul li{
		width: 33.333%;
	}
}
@media screen and (max-width:768px){
	.home{
		margin:102px 0 0;
	}
	.home-right{
		display:none;
	}
	.home-left, .about p{
		width:100%;
	}
	header h2, .home-left{
		padding-left: 0;
	}
	.inner{
		padding: 0 10px;
	}
	header .inner{
		width:100%;
		padding:0;
	}
	.hgroup{
		padding-left: 30px;
	}
	.work ul li{
		width: 50%;
	}
}
@media screen and (max-width:680px){
	nav{
		padding-top: 20px;
		float: none;
		margin: 0 auto;
		width:300px;
		right: 0;
	}
	.hgroup{
		float:none;
	}
	.inner{
		text-align: center;
	}
	.hgroup{
		padding-left: 0;
	}
	.home{
		margin: 146px 0 0;
	}
}
@media screen and (max-width:480px){
	.currentStatus .boldi{
		text-align:center;
		padding-right:5px;
	}
	.contact{
		aside{
			float: none;
			width: 100%;
		}
		ul{
			li{
				padding: 10px 5px !important;
				text-align: center;
			}
		}
		label{
			display:block;
		}
		.contact-bg{
			right:0;
		}

	}
	.download{
		text-align: center;
		padding-bottom: 10px;
	}
	.download .heading{
		padding-left: 0;
	}
	.work ul li{
		width: 100%;
	}
}
