.inner{
	width:920px;
	margin:0 auto; 
	text-align:left;
	position:relative;
}
.hgroup{
	float:left;
	padding:10px 0 0 6px;
}
.heading{
	font-size:18px;
}
.about, .work, .contact{
	position:relative;
	z-index:97;
	background:url(../images/bg-pattern.jpg) repeat center 0;
	border-top:1px solid #81C7E3;
	border-bottom:1px solid #81C7E3;
}
footer{
	height:170px; text-align:center; line-height:28px; font-size:12px;
	background:#ede7db url(../images/cloud-windmills.jpg) repeat-x center 100%;
}