h2.acronyms{
    width:$box-width;
    height:266px;
    display:block;
    position:absolute;
    top:36px;
    right: 9px;
    z-index: 5;
    font-family: $reem-font;
    //background: darken($light, 3%);
    span{
        display:none;
        position:absolute;
        line-height:32px;
    }
}
.acronimg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    opacity: 0.0333;
    @include transition(opacity .123s ease-in-out);
    background-repeat: no-repeat;
    background-position: center middle;
    background-size: contain;
    //#ra0 &{ background-image: url(../images/acronyms/php.png)}
    //#ra1 &{ background-image: url(../images/acronyms/html.png)}
    //#ra2 &{ background-image: url(../images/acronyms/css.png)}
}
.a0{ top:72px; left:8px; font-size:32px; color:#297ED8;}
.a1{ top:136px; left:66px; font-size:30px; color:#5196E0;}
.a2{ top:62px; left:240px; font-size:31px; color:#258DD6;}
.a3{ top:150px; left:226px; font-size:30px; color:#2399D4;}
.a4{ top:236px; left:72px; font-size:30px; color:#21A0D3;}
.a5{ top:235px; left:10px; font-size:25px; color:#20A6D2;}
.a6{ top:115px; left:151px; font-size:28px; color:#2DABD4;}
.a7{ top:184px; left:252px; font-size:25px; color:#3FB2D8;}
.a8{ top:42px; left:153px; font-size:23px; color:#297ED8;}
.a9{ top:132px; left:5px; font-size:24px; color:#5196E0;}
.a10{ top:200px; left:138px; font-size:26px; color:#4978E2;}
.a11{ top:34px; left:75px; font-size:26px; color:#5196E0;}
.a12{ top:233px; left:158px; font-size:25px; color:#5197E0;}
.a13{ top:3px; left:12px; font-size:24px; color:#20A6D2;}
.a14{ top:70px; left:89px; font-size:24px; color:#4771E1;}
.a15{ top:2px; left:245px; font-size:26px; color:#297ed8;}
.a16{ top:202px; left:12px; font-size:18px; color:#5BBEDE;}
.a17{ top:174px; left:59px; font-size:17px; color:#3FB2D8;}
.a18{ top:101px; left:99px; font-size:22px; color:#5196E0;}
.a19{ top:30px; left:216px; font-size:17px; color:#258DD6;}
.a20{ top:120px; left:248px; font-size:21px; color:#3C45E4;}
.a21{ top:0px; left:88px; font-size:22px; color:#5196E0;}
.a22{ top:36px; left:24px; font-size:20px; color:#4771E1;}
.a23{ top:204px; left:74px; font-size:20px; color:#3C45E4;}
.a24{ top:104px; left:34px; font-size:20px; color:#21A0D3;}
.a25{ top:170px; left:118px; font-size:16px; color:#3C45E4;}
.a26{ top:207px; left:222px; font-size:21px; color:#5BBEDE;}
.a27{ top:166px; left:20px; font-size:19px; color:#3C45E4;}
.a28{ top:148px; left:175px; font-size:32px; color:#2DABD4;}
.a29{ top:4px; left:174px; font-size:27px; color:#2399D4;}
.a30{ top:80px; left:158px; font-size:22px; color:#297ED8;}
.a31{ top:234px; left:252px; font-size:26px; color:#21A0D3;}
.a32{ top:177px; left:201px; font-size:17px; color:#20A6D2;}
.a33{ top:94px; left:224px; font-size:17px; color:#3D49E4;}
