.contact{
	.inner{
		padding: 10px 0 20px;
	}
	aside{
		position:relative;
		z-index:111;
		width:38%;
		float:right;
		text-align: center;
		a{
			width:61px;
			height:60px;
			display:inline-block;
			background:url(../images/gt-icons.png) no-repeat 0 -16px;
			margin:3px 3px 0 9px;
			&.pdf{
				background-position:0 -76px;
			}
		}
	}
	label{
		padding-right:9px;
		font-weight:bold;
		display: inline-block;
		line-height: 24px;
		width: 112px;
		text-align: right;
	}
	ul{
		position:relative;
		z-index:99;
		li{
			padding:10px 0;
			font-size: 14px;
			position: relative;
			a{
				padding-left: 20px;
				color:#14a1d0;
			}
			span{
				cursor:pointer;
				color:#009EE3;
				text-decoration:underline;
				line-height: 24px;
			}
			em{
				display:none;
				line-height: 24px;
				display: inline-block;
			}
			&.con-em a {
				padding-left: 0;
			}
			&.con-so{
				label, ul{
					float: left;
					display: block;
				}
			}
			&.link{
				padding: 0 0 6px 6px;
				a:before{
					width: 16px;
					height: 16px;
					display: block;
					position: absolute;
					content: " ";
					left: 0;
					top: 6px;
					background: url(../images/gt-icons.png) no-repeat 0 0;
				}
				&.linkedin a:before{
					background-position: -16px 0;
				}
				&.github a:before{
					background-position: -32px 0;
				}
				&.stackoverflow a:before{
					background-position: -48px 0;
				}

			}
			ul{
				display: inline-block;
			}
		}
		&.deats{
			label{
				font-family: $reem-font;
			}
		}
	}
	.download{
		width:158px;
		margin: 0 auto;
		text-align: left;
		.heading{
			font-family: $reem-font;
			text-align: center;
		}
	}
	.contact-bg{
		width:195px;
		height:160px;
		position:absolute;
		bottom:0;
		right:5%;
		opacity:0.3;
		z-index:98;
	}
}
