.inner{
	max-width:920px;
	margin:0 auto;
	text-align:left;
	position:relative;
}
.hgroup{
	float:left;
	padding:$padding 0 0;
}
.heading{
	font-size:18px;
}
.article{
	position:relative;
	z-index:97;
	background:url(../images/bg-pattern.jpg) repeat center 0;
	border-top:1px solid $white;
	border-bottom:1px solid $grey;
	padding: $padding*2 0;
	&.home, &.about {
		border-top: 0;
	}
}
.footer{
	height:80px;
	text-align:center;
	line-height:28px;
	font-size:12px;
	padding: $padding*2 0;
	background:#ede7db url(../images/cloud-windmills.jpg) repeat-x center 100%;
	p{
		color: white;
	}
}
.header{
	width:100%;
	position:relative;
	top:0;
	left:0;
	background:$white;
	opacity:0.95;
	z-index:99;
	border-bottom: 1px solid $grey;
	padding: $padding 0;
	.inner{
		width: $content-width+6;
	}
}
.home{
	background:$light url(../images/fern-leaf.jpg) no-repeat 0 100%;
}
.home-left{
	width:47%;
	float:left;
	padding-left:$padding*3;
}
.home-right{
	width:$box-width;
	float:right;
	min-height:323px;
	position:relative;
	right: 17px;
	.intro{
		color: $dark;
		font-family: $reem-font;
		font-size: 18px;
		position: relative;
		z-index: 5;
		padding-top: 0;
		span{
			display:none;
		}
	}
	#gat{
		opacity: 0.333;
		width: 316px;
		height: 274px;
		position: absolute;
		top: 39px;
		right: 71px;
		z-index: 3;
		//background-image: url(../images/players/mark-knopfler.jpg);
		background-position: center middle;
		background-repeat: no-repeat;
		@include transition(opacity .666s ease-in-out);
		&.active{
			opacity: 0.333;
		}
	}
}
.currentStatus{
	float: left;
	display: block;
	border-radius:7px;
	margin:20px 0 6px;
	padding: $padding 0;
	text-align: center !important;
	border: 1px solid $grey;
	background:linear-gradient(135deg, #75cdf5, #fff);
	h4{
		padding: 0 10px;
		font-weight: 400;
	}
}
