.inner{
	width:920px;
	margin:0 auto;
	text-align:left;
	position:relative;
}
.hgroup{
	float:left;
	padding:10px 0 0;
}
.heading{
	font-size:18px;
}
.article{
	position:relative;
	z-index:97;
	background:url(../images/bg-pattern.jpg) repeat center 0;
	border-top:1px solid $aqua;
	border-bottom:1px solid $aqua;
}
footer{
	height:100px;
	text-align:center;
	line-height:28px;
	font-size:12px;
	background:#ede7db url(../images/cloud-windmills.jpg) repeat-x center 100%;
	p{
		color: white;
	}
}
.header{
	width:100%;
	position:fixed;
	top:0;
	left:0;
	background:#fff;
	opacity:0.95;
	z-index:99;
	border-bottom: 1px solid $peach;
	.inner{
		width: $content-width+6;
	}
}
.home{
	background:$light url(../images/fern-leaf.jpg) no-repeat 0 100%;
	padding:12px 0;
	margin:102px 0 0;
	border-top:1px solid $aqua;
	border-bottom:1px solid $aqua;
}
.home-left{
	width:47%;
	float:left;
	padding-left:36px;
}
.home-right{
	width:48%;
	float:right;
	min-height:313px;
	min-width:340px;
	position:relative;
	text-align: center;
	p.intro{
		color: $dark;
		font-family: $reem-font;
		font-size: 19px;
		position: relative;
		z-index: 5;
		span{
			display:none;
		}
	}
	h2.acronyms{
		/*width: 320px;*/
		width:90%;
		height:266px;
		display:block;
		position:absolute;
		top:36px;
		right: 18px;
		z-index: 5;
		font-family: $reem-font;
		span{
			display:none;
			position:absolute;
			line-height:32px;
		}
	}
	#gat{
		opacity: 0.333;
		width: 316px;
		height: 274px;
		position: absolute;
		top: 39px;
		right: 71px;
		z-index: 3;
		//background-image: url(../images/players/mark-knopfler.jpg);
		background-position: center middle;
		background-repeat: no-repeat;
		@include transition(opacity .666s ease-in-out);
		&.active{
			opacity: 0.333;
		}
	}
}
.currentStatus{
	float: left;
	display: block;
	border-radius:7px;
	margin:20px 0 6px;
	padding: 10px 0 12px;
	text-align: center !important;
	border: 1px solid $grey;
	background:linear-gradient(135deg, #75cdf5, #fff);
	h4{
		padding: 0 10px;
		font-weight: 400;
	}
}
