@media screen and (max-width:980px){
	.inner, fieldset.currentStatus, .home-left{
		width:100%;
		float:none;
		box-sizing: border-box;
	}
	.inner{
		padding:0 2.5%;
		width: 100% !important;
	}
	.nav-wrapper{
		width: 55%;
	}
	.home-left{
		width:40%;
	}
	.download{
		text-align:left;
	}
	.work ul li{
		width: 33.333%;
	}
	.contact{
		.inner{
			padding: 10px 2.5% 20px;
		}
	}
}
@media screen and (max-width:768px){
	.header{
		h2{
			padding-left: 0;
		}
		.inner{
			padding:0;
		}
		.nav-wrapper{
			width: 100%;
			nav{
				padding: 12px 0 0;
				margin-bottom: 12px;
			}
		}
		&.sticky{
			position: fixed;

			h1, h2/*, .ui-slider-handle*/{
				display: none;
			}
			.nav-wrapper{
				float: none;
				background: $white;
				height: 84px;
				nav{
					margin: 15px 0 0 10px;
					padding: 50px 0 0;
				}
			}
		}
	}
	.inner{
		text-align: center;
		padding: 0 10px;
	}
	.hgroup{
		padding: 3px 0 0;
		float: none;
	}

	.home{
		margin:0;
		.inner{
			padding: 0;
		}
	}
	.home-right{
		float: none;
		margin: 0 auto;
		right: 0;
		p.intro{
			font-size: 16px;
		}
	}
	.home-left{
		padding: 0 12px;
		width:100%;
	}
	.work ul li{
		width: 50%;
	}
	.about p{
		width:100%;
	}
	.contact{
		aside{
			float: none;
			width: 100%;
			right: 0;
		}
		.download{
			text-align: center;
			padding-bottom: 10px;
			.heading{
				padding-left: 0;
			}
		}
		ul{
			li{
				padding: 7px 0 !important;
				text-align: center;
				line-height: 16px;
				font-size: 13px;
				label{
					font-size:15px;
					line-height: 17px;
					padding-right:0;
					display: block;
					width: 100%;
					text-align: center;
				}
				a{
					padding-left: 0;
				}
				&.con-so{
					label, ul{
						float: none;
					}
					label{
						padding-bottom: 6px;
					}
				}
				&.link{
					padding-left: 0;
					a{
						&:before{
							position: relative;
							margin: 0 auto;
							top: -4px;
						}
					}
				}
			}
			&.deats{
				li{
					span{
						font-size: 15px;
					}
				}
			}
		}
		.contact-bg{
			right:0;
		}
	}
}
@media screen and (max-width:480px){
	.currentStatus .boldi{
		text-align:center;
		padding-right:5px;
	}

	.work{
		ul li{
			width: 100%;
		}
	}
}
