@media screen and (max-width:980px){
	.inner, fieldset.currentStatus, .home-left{
		width:100%;
		float:none;
		box-sizing: border-box;
	}
	.inner{
		padding:0 2.5%;
	}
	.home-left{
		width:40%;
	}
	.home-right{
		h3.acronyms{
			right: 12%;
		}
	}
	.download{
		text-align:left;
	}
	.work ul li{
		width: 33.333%;
	}
}
@media screen and (max-width:768px){
	.header{
		position: relative;
		h2{
			padding-left: 0;
		}
		.inner{
			width:100%;
			padding:0;
		}
	}
	.inner{
		text-align: center;
		padding: 0 10px;
	}
	.hgroup{
		padding: 3px 0 0;
		float: none;
	}
	.nav-wrapper{
		width: 100%;
		nav{
			padding-top: 12px;
			margin-bottom: 12px;
		}
	}
	.home{
		margin:0;
	}
	.home-right{
		display:none;
	}
	.home-left{
		padding: 0 12px;
		width:100%;
	}
	.work ul li{
		width: 50%;
	}
	.about p{
		width:100%;
	}
	.contact{
		aside{
			position: relative;
			right: 12%;
		}
	}
}
@media screen and (max-width:480px){
	.currentStatus .boldi{
		text-align:center;
		padding-right:5px;
	}
	.contact{
		aside{
			float: none;
			width: 100%;
			right: 0;
		}
		ul{
			li{
				padding: 10px 5px !important;
				text-align: center;
			}
		}
		label{
			display:block;
		}
		.contact-bg{
			right:0;
		}

	}
	.download{
		text-align: center;
		padding-bottom: 10px;
	}
	.download .heading{
		padding-left: 0;
	}
	.work ul li{
		width: 100%;
	}
}
