@media screen and (max-width:980px){
	.nav-wrapper nav {
		position: relative;
		right: 33px;
	}
	.inner, fieldset.currentStatus, .home-left{
		width:100%;
		float:none;
		box-sizing: border-box;
	}
	.inner{
		padding:0 2.5%;
		width: 100% !important;
	}
	.home-left{
		width:46%;
		padding-left: $padding/4;
	}
	.download{
		text-align:left;
	}
	.work ul li{
		width: 33.333%;
	}
	.contact{
		.inner{
			padding: 10px 2.5% 20px;
		}
	}
}
@media screen and (max-width:768px){
	.nav-wrapper{
		text-align: center;
		width: 100%;
		nav{
			padding: $padding 0 0;
			margin: 0 auto $padding;
			right: 0;
		}
	}
	.article {
		padding: $padding*2;
		&.contact {
			padding-bottom: $padding;
		}
		p{
			text-align: justify;

			&.disclaimer {
				text-align: center;
			}

			&.intro {
				text-align: left;
				padding-left: $padding;
			}
		}
	}
	.header{
		h2{
			padding: 0 0 $padding/4 0;
		}
		.inner{
			padding:0;
		}
	}
	.inner{
		text-align: center;
		padding: 0 $padding;
	}
	.hgroup{
		padding: $padding/2 0 ;
		float: none;
	}

	.home{
		margin:0;
		.inner{
			padding: 0;
		}
	}
	.home-right{
		float: none;
		margin: 0 auto;
		right: 0;
		p.intro{
			font-size: 16px;
			padding-top: 0;
		}
		h2.acronyms{
			right: 0;
		}
	}
	.home-left{
		padding: 0 $padding*2;
		width:100%;
	}
	.work{
		ul li{
			width: 50%;
		}
		#siteinfo{
			padding: 0 12px;
		}
	}
	.about p{
		width:100%;
	}
	.contact{
		aside{
			float: none;
			width: 100%;
			right: 0;
		}
		.download{
			text-align: center;
			padding-bottom: 10px;
			.heading{
				padding-left: 0;
			}
		}
		ul{
			li{
				padding: 7px 0 !important;
				line-height: 16px;
				font-size: 13px;
				label{
					font-size:15px;
					line-height: 17px;
					padding-right:0;
					text-align: left;
					width: 66px;
					white-space: nowrap;
				}
				a{
					padding-left: 0;
				}
				&.con-so{
					label, ul{
						float: none;
					}
					label{
						padding-bottom: 6px;
					}
				}
				&.link{
					padding-left: 0;
					a{
						&:before{
							position: relative;
							margin: 0 auto;
							top: 4px;
							margin-right: 6px;
						}
					}
				}
			}
			&.deats{
				li{
					span{
						font-size: 15px;
					}
				}
			}
		}
		.contact-bg{
			right:0;
		}
	}
	.sticky-header{
		.header{
			padding-top: 0;
			position: fixed;
			height: $sticky-header-height;

			h1, h2/*, .ui-slider-handle*/{
				display: none;
			}
			.nav-wrapper{
				float: none;
				background: $white;
				height: 50px;
				nav{
					margin: 15px auto 0;
					padding: $padding/2 0 0;
				}
			}
		}
		.home{
			padding-top: 155px;
		}
	}
}
@media screen and (max-width:480px){
	.article {
		padding: $padding*2 0;

		&.about {
			padding: $padding*2 $padding;
		}
	}
	.currentStatus .boldi{
		text-align:center;
		padding-right:5px;
	}
	.home-right h2.acronyms{
		top: 30px;
	}
	.home-left {
		padding: 0 $padding*1.5;
	}
	.work{
		ul li{
			width: 100%;
			&.over{
				h3, h4, h5{
					opacity: 0;
				}
			}
		}
		.inner{
			p.selection{
				font-size: 17px;
			}
		}
	}
}
