.contact{
  .flex {
    @include bp(md) {
      flex-direction: row-reverse;
    }
  }
	.files{
    margin: $space 0;

    &.flex {
      flex-direction: row;
      justify-content: center;
    }

		a{
			width:67px;
			height:60px;
			background:url(../../images/gt-icons.png) no-repeat 0 -16px;
			margin:3px;

			&.pdf {
				background-position:0 -76px;
			}
		}
	}
	.heading{
		padding-right: $space;
		display: block;
		width: $space*10;
    vertical-align: top;

    @include bp(md) {
      display: inline-block;
      text-align: right;
    }
	}

	.deats {
		.item {
			padding:10px 0;
			position: relative;
			text-align: left;

      label, span {
        vertical-align: top;
      }
		}

    .reveal{
      display: block;
      font-size: 1.2rem;
      left: 0;
      line-height: 1.5;
      opacity: 0;
      position: absolute;
      top: 33px;
      transition: opacity 0.123s ease-in;

      &.showing {
        display: inline-block;
        font-size: 1.5rem;
        line-height: 1.1;
        opacity: 1;
        position: relative;
        text-decoration: none;
        top: 0;
      }
    }

		a {
			color:$blue;
			display: inline-block;
      text-decoration: none;
		}
	}

  .link{
    font-size: 1.2rem;
    line-height: 1;
    padding: 0 0 6px 0;
    position: relative;
    text-align: left;

    a {
      color: $color-link;
      display: inline-block;
      padding: $space/4 0 0 $space/2;
      text-decoration: none;

      &:focus, &:hover {
        color: $color-link--hover;
      }

      &:before {
        width: 16px;
        height: 16px;
        display: inline-block;
        position: absolute;
        content: " ";
        left: -$space;
        top: 5px;
        background: url(../../images/gt-icons.png) no-repeat 0 0;
      }

      @include bp(xs) {
        padding: 3px 0 0 $space*2;

        &:before {
          left: 0;
        }
      }

      @include bp(lg) {
        &:before {
          top: 8px;
        }
      }
    }

    &.item a {
      padding-left: 0;
      text-decoration: underline;

      &:before {
        display: none;
      }
    }

    &.linkedin a:before{
      background-position: -16px 0;
    }
    &.github a:before{
      background-position: -32px 0;
    }
    &.stackoverflow a:before{
      background-position: -48px 0;
    }
  }

  .social {
		display: block;
		padding-top: $space 0;
		position:relative;
		text-align: left;
		z-index:99;

		@include bp(sm) {
			display: inline-block;
		}

    .link {
      font-size: 0.9rem;
      margin-bottom: $space/2;

      @include bp(md) {
        font-size: 1rem;
      }

      @include bp(lg) {
        font-size: 1.3rem;
      }
    }
	}

  .js-contact-trigger {
    color: $color-link;
    cursor:pointer;
    display: block;
    line-height: 24px;
    overflow: hidden;
    text-decoration:underline;

    &:hover {
      color: $color-link--hover;
    }

    @include bp(md) {
      display: inline-block;
    }
  }
	.download{
		margin: 0 auto $space*2;
		text-align: left;
    width: $space*13;

    @include bp(md) {
      margin: 0;
      width: 30%
    }

		.heading{
			text-align: center;
      width: 100%;
		}
	}

  .js-contact-trigger {
    font-size: 1.2rem;
  }
}
