.contact{
  .flex {
    @include bp(md) {
      flex-direction: row-reverse;
    }
  }
	.files{
    margin: $space 0;

    &.flex {
      flex-direction: row;
      justify-content: center;
    }

		a{
			width:67px;
			height:60px;
			background:url(../../images/gt-icons.png) no-repeat 0 -16px;
			margin:3px;

			&.pdf {
				background-position:0 -76px;
			}
		}
	}
	.heading{
		padding-right: $space;
		display: block;
		width: $space*10;
    vertical-align: top;

    @include bp(md) {
      display: inline-block;
      text-align: right;
    }
	}

	.deats {
		.item {
			padding:10px 0;
			position: relative;
			text-align: left;

      label, span {
        vertical-align: top;
      }
		}

    .reveal{
      display: block;
      font-size: 1.2rem;
      left: 0;
      line-height: 1.5;
      opacity: 0;
      position: absolute;
      top: 33px;
      transition: opacity 0.123s ease-in;

      &.showing {
        display: inline-block;
        opacity: 1;
        position: relative;
        top: 0;
      }

      // Class can be added when clicking on 'call me' link
      &.flash {
        //@include animation-flash(0.5s, '#00F');
      }
    }

		a {
			color:#0B7B9D;
			display: inline-block;
		}
	}

	.social {
		display: block;
		padding-top: $space 0;
		position:relative;
		text-align: left;
		z-index:99;

		@include bp(sm) {
			display: inline-block;
		}

		.link{
      font-size: 0.9rem;
			padding: 0 0 6px 6px;
			position: relative;
			text-align: left;

      @include bp(md) {
        font-size: 1rem;
      }

      @include bp(lg) {
        font-size: 1.2rem;
      }

			a {
				color:#0B7B9D;
				display: inline-block;
				padding-left: $space*1.5;

				&:before {
					width: 16px;
					height: 16px;
					display: inline-block;
					position: absolute;
					content: " ";
					left: 0;
					top: 5px;
					background: url(../../images/gt-icons.png) no-repeat 0 0;
				}
			}

			&.linkedin a:before{
				background-position: -16px 0;
			}
			&.github a:before{
				background-position: -32px 0;
			}
			&.stackoverflow a:before{
				background-position: -48px 0;
			}
		}
	}

  .js-contact-trigger {
    color:#007DB3;
    cursor:pointer;
    display: block;
    line-height: 24px;
    overflow: hidden;
    text-decoration:underline;

    &:hover {
      color: #009EE3;
    }

    @include bp(md) {
      display: inline-block;
    }
  }
	.download{
		margin: 0 auto $space*2;
		text-align: left;
    width: $space*13;

    @include bp(md) {
      margin: 0;
      width: 30%
    }

		.heading{
			text-align: center;
      width: 100%;
		}
	}

  .js-contact-trigger {
    font-size: 1.2rem;
  }
}
