.clear{
	clear:both;
}
.clearfix:after{
	content:".";
	height:0;
	clear:both;
	display:block;
	visibility:hidden;
}
.hidden{
	display:none !important;
}
.boldi{
	font-weight:bold;
	white-space:nowrap;
}

.flex {
	display: flex;
	justify-content: space-between;

	&-item {
		padding: 0 $padding * 2;
	}
}
