.boldi{
	font-weight:bold;
	white-space:nowrap;
}
.clear{
	clear:both;
}
.clearfix:after{
	content:".";
	height:0;
	clear:both;
	display:block;
	visibility:hidden;
}
.container {
  margin: 0 auto;
  max-width: $max-content-width;
  padding: $space $space*2;
  position: relative;
}
.flex {
	display: flex;
  flex-direction: column;
	justify-content: space-between;

  @include bp(md) {
    flex-direction: row;
  }

  & > div,
  & > nav {

  }
}
.hidden{
	display:none !important;
}
.nowrap {
  white-space: nowrap;
}
.wrapper {
  text-align: center;
}
