.boldi{
	font-weight:bold;
	white-space:nowrap;
}
.clear{
	clear:both;
}
.clearfix:after{
	content:".";
	height:0;
	clear:both;
	display:block;
	visibility:hidden;
}
.container {
  margin: 0 auto;
  max-width: $max-content-width;
  text-align: left;
}
.flex {
	display: flex;
	justify-content: space-between;
  position: relative;
}
.hidden{
	display:none !important;
}
.wrapper {
  text-align: center;
}
