.header{
	background: $white;
	border-bottom: 1px solid $grey;
	opacity: 0.95;
	padding-bottom: $space;
	z-index: 99;

  .container {
    max-width: 956px;
  }

	.tagline {
		padding-top: $space;
	}
}

.logo{
	text-align: left;

  @include bp(sm) {
    margin-left: $space*3;
  }

  @include bp(lg) {
    margin-left: 0;
  }

	.suffix {
		font-size: 0.7em;
	}
}
