.header{
	background: $white;
	border-bottom: 1px solid $grey;
	opacity: 0.95;
	padding-bottom: $space;
	z-index: 99;

  .container {
    max-width: 956px;
  }

	.tagline {
		padding-top: $space;
	}
}

.logo{
	text-align: left;

  @include bp(sm) {
    margin-left: $space*3;
  }

  @include bp(lg) {
    margin-left: 0;
  }

	.suffix {
		font-size: 0.7em;
	}
}




/*
.sticky-header{
  .header{
    height: $sticky-header-height;
    padding-top: 0;
    position: fixed;
    top: 0;
    width: 100%;

    h1, h2{
      display: none;
    }
    .nav{
      float: none;
      background: $white;
      height: 50px;
      nav{
        margin: 15px auto 0;
        padding: $space/2 0 0;
      }
    }
  }
  .home{
    padding-top: 155px;
  }
}
*/
