.home{
	background:$light;

  &-acronyms {
    span {
      display: none;
    }

    @include bp(md) {
      min-width: 40%;
      padding-bottom: $space*5;
    }
  }

  &-acronymsintro {
    margin: $space*2 0 $space;
    min-height: 63px;

    @include bp(sm) {
      font-size: 1.4rem;
      line-height: 1.6;
    }
  }

  &-acronymbox {
    width:$box-width;
    height:266px;
    font-family: $heading-font;
    margin: 0 auto;
    position: relative;
    right: $space*1.5;

    @include bp(xs) {
      right: 0;
    }

    span{
      display:none;
      position:absolute;
      line-height:32px;
    }
  }

  &-intro {
    font-size: 1.4rem;
    line-height: 1.6;
    padding: $space*2 0 0;
    text-align: left;

    @include bp(sm) {
      padding: $space*2 $space*3;
    }

    @include bp(md) {
      font-size: 1.5rem;
      //padding: $space $space*2 $space 0;
    }

    @include bp(lg) {
      //padding-left: 0;
    }

    ul {
      text-align: left;
    }

    li {
      padding: $space 0 $space*2;

      strong {
        font-size: 1.6rem;
      }
    }
  }

  .flex {
    flex-direction: column-reverse;

    @include bp(md) {
      flex-direction: row;
    }
  }
}

.home-acronymbox span {
  //display: inline !important;
}

.a0{ top:72px; left:12px; font-size:32px; color:#297ED8;}
.a1{ top:136px; left:77px; font-size:32px; color:#5196E0;}
.a2{ top:62px; left:262px; font-size:31px; color:#258DD6;}
.a3{ top:150px; left:226px; font-size:31px; color:#2399D4;}
.a4{ top:236px; left:72px; font-size:30px; color:#21A0D3;}
.a5{ top:236px; left:237px; font-size:30px; color:#20A6D2;}
.a6{ top:3px; left:155px; font-size:29px; color:#2DABD4;}
.a7{ top:72px; left:180px; font-size:29px; color:#3FB2D8;}
.a8{ top:110px; left:158px; font-size:28px; color:#297ED8;}
.a9{ top:235px; left:10px; font-size:28px; color:#5196E0;}
.a10{ top:200px; left:138px; font-size:27px; color:#4978E2;}
.a11{ top:34px; left:75px; font-size:27px; color:#5196E0;}
.a12{ top:40px; left:157px; font-size:26px; color:#5197E0;}
.a13{ top:3px; left:12px; font-size:26px; color:#20A6D2;}
.a14{ top:132px; left:15px; font-size:25px; color:#4771E1;}
.a15{ top:2px; left:240px; font-size:25px; color:#297ed8;}
.a16{ top:182px; left:252px; font-size:24px; color:#5BBEDE;}
.a17{ top:174px; left:59px; font-size:24px; color:#3FB2D8;}
.a18{ top:101px; left:99px; font-size:23px; color:#5196E0;}
.a19{ top:236px; left:154px; font-size:23px; color:#258DD6;}
.a20{ top:70px; left:112px; font-size:22px; color:#3C45E4;}
.a21{ top:0px; left:88px; font-size:22px; color:#5196E0;}
.a22{ top:36px; left:24px; font-size:21px; color:#4771E1;}
.a23{ top:202px; left:84px; font-size:21px; color:#3C45E4;}
.a24{ top:104px; left:34px; font-size:20px; color:#21A0D3;}
.a25{ top:145px; left:156px; font-size:20px; color:#3C45E4;}
.a26{ top:207px; left:222px; font-size:19px; color:#5BBEDE;}
.a27{ top:166px; left:20px; font-size:19px; color:#3C45E4;}
.a28{ top:170px; left:133px; font-size:18px; color:#2DABD4;}
.a29{ top:30px; left:234px; font-size:18px; color:#2399D4;}
.a30{ top:202px; left:12px; font-size:17px; color:#297ED8;}
.a31{ top:120px; left:248px; font-size:17px; color:#21A0D3;}
.a32{ top:175px; left:195px; font-size:16px; color:#20A6D2;}
.a33{ top:94px; left:233px; font-size:16px; color:#3D49E4;}
