.home{
	background:$color-light;

  &-acronyms {
    span {
      display: none;
    }

    @include bp(md) {
      min-width: 40%;
      padding-bottom: $space*5;
    }
  }

  &-acronymsintro {
    font-size: 1.1rem;
    margin: $space 0;
    min-height: 63px;

    @include bp(xs) {
      //font-size: 1rem;
    }

    @include bp(sm) {
      font-size: 1.2rem;
      line-height: 1.6;
    }
  }

  &-acronymbox {
    width:$box-width;
    height:266px;
    font-family: $heading-font;
    margin: 0 auto;
    position: relative;
    right: $space/2;

    @include bp(xs) {
      right: 0;
    }

    span{
      display:none;
      position:absolute;
      line-height:32px;
    }
  }

  &-intro {
    font-size: 1.2rem;
    line-height: 1.4;
    padding: $space*2 0 0;
    text-align: left;

    @include bp(sm) {
      padding: $space*2 $space*3;
    }

    @include bp(lg) {
      font-size: 1.3rem;
    }

    ul {
      text-align: left;
    }

    li {
      padding: $space 0 $space*2;

      strong {
        font-size: 1.6rem;
      }
    }
  }

  .flex {
    flex-direction: column-reverse;

    @include bp(md) {
      flex-direction: row;
    }
  }
}

.home-acronymbox span {
  //display: inline !important;
  color: $blue;

  &:nth-child(odd) {
    color: $green;
  }
}

.a0{ top:72px; left:12px; font-size:32px;}
.a1{ top:136px; left:83px; font-size:32px;}
.a2{ top:62px; left:262px; font-size:31px;}
.a3{ top:150px; left:226px; font-size:31px;}
.a4{ top:236px; left:72px; font-size:30px;}
.a5{ top:236px; left:237px; font-size:30px;}
.a6{ top:3px; left:155px; font-size:29px;}
.a7{ top:72px; left:180px; font-size:29px;}
.a8{ top:110px; left:158px; font-size:28px;}
.a9{ top:235px; left:10px; font-size:28px;}
.a10{ top:200px; left:138px; font-size:27px;}
.a11{ top:34px; left:75px; font-size:27px;}
.a12{ top:40px; left:157px; font-size:26px;}
.a13{ top:3px; left:12px; font-size:26px;}
.a14{ top:132px; left:15px; font-size:25px;}
.a15{ top:2px; left:240px; font-size:25px;}
.a16{ top:182px; left:252px; font-size:24px;}
.a17{ top:174px; left:59px; font-size:24px;}
.a18{ top:101px; left:99px; font-size:23px;}
.a19{ top:236px; left:154px; font-size:23px;}
.a20{ top:70px; left:112px; font-size:22px;}
.a21{ top:0px; left:88px; font-size:22px;}
.a22{ top:36px; left:24px; font-size:21px;}
.a23{ top:202px; left:84px; font-size:21px;}
.a24{ top:104px; left:34px; font-size:20px;}
.a25{ top:145px; left:156px; font-size:20px;}
.a26{ top:207px; left:222px; font-size:19px;}
.a27{ top:166px; left:20px; font-size:19px;}
.a28{ top:170px; left:133px; font-size:18px;}
.a29{ top:33px; left:234px; font-size:18px;}
.a30{ top:202px; left:12px; font-size:17px;}
.a31{ top:120px; left:248px; font-size:17px;}
.a32{ top:175px; left:195px; font-size:16px;}
.a33{ top:97px; left:233px; font-size:16px;}
