html, body, div, img, h1, h2, h3, h4, h5, h6, p, ul, li{
  font-weight: normal;
	margin:0;
	padding:0;
	border:0;
}
html, body{
	width:100%;
	height:100%;
}
body{
	font:normal 1.1rem/1.3 $body-font;
	text-align:center;
	color: $dark;
	background:$peach;
}
a{
  color: $color-link;
  text-decoration: none;
  word-wrap: break-word;

	&:focus, &:hover{
    color: $color-link--hover;
	}
}
h1{
	font-size:30px;
	line-height:44px;
	a{
		color:#14A1D0 !important;
		transition: all 0.5s ease;
		display: block;
		text-decoration: none;
		span{

			&.big{
				font-size:38px;
				position:relative;
				top:3px;
				text-decoration:none;
				text-shadow:1px 1px #000;
			}
		}
		&:hover{
			text-shadow:1px 1px #000;
		}
	}
}
h2{
	font:normal 18px/25px $reem-font;
	padding:0;
}
h4{
	font-size: 17px;
	color: $dark;
}
h5 {
    color: $green;
    font-size: 1.2em;
    padding: 12px 0 0;
    text-align: left;
}
ul, li{
	list-style:none;
}
p{
	padding:7px 0;
	color: $dark;
}
noscript{
	width:100%;
	height:20px;
	position:absolute;
	top:0;
	left:0;
	color:#E22900;
	text-align:center;
	padding-top:16px;
	font: bold 16px/16px $body-font;
}
noscript{

	font-size:16px;
	line-height:16px;
}
.inner{
	max-width:$max-content-width;
	margin:0 auto;
	text-align:left;
	position:relative;
}
.heading{
	font-size:18px;
  line-height: 1.4;
}
.article{
	background:url(../../images/bg-pattern.jpg) repeat center 0;
  border-bottom:1px solid $grey;
  border-top:1px solid $white;
	padding: $space*2 0;
  position:relative;
  text-align: center;

	&.home, &.about {
		border-top: 0;
	}
}
.footer{
	height:80px;
	text-align:center;
	line-height:28px;
	font-size:0.9rem;
	padding: $space;
	background:#ede7db url(../../images/cloud-windmills.jpg) repeat-x center 100%;

	p{
		color: $dark;
    padding: 0;
	}
}

.currentStatus{
	float: left;
	display: block;
	border-radius:7px;
	margin:20px 0 6px;
	padding: $space 0;
	text-align: center !important;
	border: 1px solid $grey;
	background:linear-gradient(135deg, #75cdf5, #fff);

	h4{
		padding: 0 10px;
		font-weight: 400;
	}
}
.about{
	background:linear-gradient(135deg, #75cdf5, #fff);
	border-bottom:0;

	.inner{
		z-index:99;
		width: $content-width;
	}

	h3{
		padding: 10px 0;
	}

	p{
		width:84%;

		&.about-title{
			font-weight:bold;
			font-style:italic;
		}
	}

	.open{
		p{
			visibility:visible;
		}
	}

    &-bg{
    	width:100%;
    	height:100%;
    	position:absolute;
    	top:0;
    	left:0;
    	background:none;
    	opacity:0.5;
    	display:block;
    }
}
