@media screen and (max-width:980px){
	.nav{
		text-align: center;

		&-inner {
			margin-left: auto;
			margin-right: auto;
			position: relative;
			text-align: center;
			width: 300px;
		}
	}
	.download{
		text-align:left;
	}
	.work ul li{
		width: 33.333%;
	}
	.contact{
		.inner{
			padding: 10px 2.5% 20px;
		}
	}
}
@media screen and (max-width:768px){
	.nav {
		margin-top: $padding * 3;
	}

	.logo {
		text-align: center;
	}

	.article {
		padding: $padding*2;
		&.contact {
			padding-bottom: $padding;
		}
		p{
			text-align: justify;

			&.disclaimer {
				text-align: center;
			}

			&.intro {
				text-align: left;
				padding-left: $padding;
			}
		}
	}
	.hgroup{
		padding: $padding/2 0 ;
		float: none;
	}

	.work{
		ul li{
			width: 50%;
		}
		#siteinfo{
			padding: 0 12px;
		}
	}
	.about p{
		width:100%;
	}
	.contact{
		.download{
			text-align: center;
			padding-bottom: 10px;
			.heading{
				padding-left: 0;
			}
		}
		ul{
			li{
				padding: 7px 0;
				line-height: 16px;
				label{
					font-size:15px;
					line-height: 17px;
					padding-right:0;
					text-align: left;
					width: 66px;
					white-space: nowrap;
				}
				a{
					padding-left: 0;
				}

				&.link{
					padding: 0 0 12px;
					a{
						&:before{
							position: relative;
							margin: 0 auto;
							top: 4px;
							margin-right: 6px;
						}
					}
				}
                &.stackoverflow {
                    font-size: 13px;
                }
			}
			&.deats{
				li{
					span{
						font-size: 15px;
					}
				}
			}
		}
		.contact-bg{
			right:0;
		}
	}

	.sticky-header{
		.header{
			height: $sticky-header-height;
			padding-top: 0;
			position: fixed;
			top: 0;
			width: 100%;

			h1, h2/*, .ui-slider-handle*/{
				display: none;
			}
			.nav{
				float: none;
				background: $white;
				height: 50px;
				nav{
					margin: 15px auto 0;
					padding: $padding/2 0 0;
				}
			}
		}
		.home{
			padding-top: 155px;
		}
	}
}
@media screen and (max-width:480px) {
	.article {
		padding: $padding*2 0;

		&.about {
			padding: $padding*2 $padding;
		}
	}
	.currentStatus .boldi{
		text-align:center;
		padding-right:5px;
	}
	.work{
		ul li{
			width: 100%;
			&.over{
				h3, h4, h5{
					opacity: 0;
				}
			}
		}
		.inner{
			p.selection{
				font-size: 17px;
			}
		}
	}

    .contact ul li {
        &.con-so{
            label{
                padding-bottom: 4px;
            }
            label, ul{
                float: none;
            }
        }
    }
}
