$body-font: "Source Sans Pro", Helvetica, Arial, sans-serif;
$reem-font: "Reem Kufi";
$dark: #515150;
$light: #eff1f2;
$blue: #14a1d0;
$green: #0C726C;
$green--dark: #27312E;
$red: #E22900;
$peach: #EEE7D5;
$aqua: #81c7e3;
$grey: #cdcdcd;
$white: #fff;
$nav-link-hover: #737372;
$hero-height: 515px;
$content-width: 844px;
$max-content-width: 1024px;
$box-width: 320px;
$sticky-header-height: 66px;
$site-thumbs: url(../../images/thumbs-169x133.jpg);
$padding: 12px;
