.work{
	background:$work-bg url(../../images/feather.jpg) no-repeat right top;
	color:#000;
	overflow:hidden;
	position:relative;
	z-index:97;

	.inner{
		z-index:95;
		text-align: center;
		p{
			&.selection{
				text-align: center;
				font-family: $heading-font;
			}
		}
	}
	#siteinfo{
		display:block;
		padding: 0 $space*2;
		text-align: left;

    @include bp(md) {
      text-align: justify;
    }
		a{
			color: $color-light;
			font-style: italic;
			text-decoration: none;

			&:hover{
				color: $dark-green;
			}

			strong &{
				font-size: 17px;
			}
		}
	}
  .disclaimer {
    padding: $space/2 $space;
  }

	ul{
		color: white;
		display:block;
		margin:24px auto 0;
		font-family: $reem-font;
		li{
			margin: 0;
			padding: 0;
			width: 23%;
			display: block;
			float: left;
			text-align: center;
			line-height: 30px;
			.box{
				@include border-radius(6px);
				width:169px;
				height:133px;
				position:relative;
				cursor:pointer;
				overflow:hidden;
				margin:0 auto 43px;
				border:1px solid #666;
			}
			.text{
				@include text-shadow(1px 1px #000);
				@include absolute();
				z-index:77;
				line-height:30px;
				font-size:18px;
				font-weight:bold;
				h3, h4, h5{
					color: white;
					padding-top: 10px;
					line-height:30px;
					@include transition(opacity .333s ease-in-out);
				}
				h3{
					font-size: 18px;
          padding: 10px 0 0;
				}
				h4{
					font-size:15px;
					font-style:italic;
				}
				h5{
					font-size: 14px;
				}
			}
			span{
				@include absolute();
				@include border-radius(6px);
			}
			.layer{
				background:#333;
				z-index:44;
				opacity:0.82;
			}
			.img{
				z-index:33;
				background-image: $site-thumbs;
			}
			.button{
				background:url(../../images/play.png) no-repeat center;
				z-index:39;
			}
			.bg1{
				background:url(../../images/diag-left.png) no-repeat 0 0;
				z-index:55;
			}
			.bg2{
				background:url(../../images/diag-right.png) no-repeat 0 0;
				z-index:55;
			}
			.info{
				display:none;
				font-size:55px;
			}
			&.over{
				h3, h4, h5{
					opacity: 0;
				}
			}
			&.active{
				.img{
					opacity:0.5;
				}
				.button{
					background:url(../../images/pause.png) no-repeat center;
					opacity:0.55;
				}
				&.over{
					.button{
						opacity:1;
					}
				}
				&.paused{
					.button{
						background:url(../../images/play.png) no-repeat center;
						z-index:39;
					}
				}
				h3, h4{
					opacity: 0;
				}
			}
			&.site4, &.site8, &.site12{
				margin-right:0;
			}

			&.sff .img{
				background-position:0 0;
			}
			&.scopevisio .img{
				background-position:-169px 0;
			}
			&.oysterbay .img{
				background-position:-338px 0;
			}
      &.hito .img{
				background-position:-169px -133px;
			}
			&.kiwirail .img{
				background-position:-507px 0;
			}
			&.mc .img{
				background-position:-845px 0px;
			}
			&.nzso .img{
				background-position:0 -133px;
			}
      &.placetrace .img{
				background-position:-676px 0;
			}
			&.roche .img{
				background-position:-338px -133px;
			}
			&.dryitonline .img{
				background-position:-507px -133px;
			}
			&.gccrs .img{
				background-position:-676px -133px;
			}
			&.schoolz .img{
				background-position:-845px -133px;
			}
		}
	}
    .site {
        position: relative;
    }
    .year {
        bottom: 11px;
        color: black;
        display: none;
        font-size: 20px;
        left: 42%;
        position: absolute;
        z-index: 999999;
    }
}


#sitebg{
	width:1000%;
	height:100%;
	overflow:hidden;
	position:absolute;
	top:0;
	left:0;
	background:url(../../images/screens/websites1y515.jpg) repeat center 0;
	opacity:0.07;
	z-index:94;
	display:block;
	&.roche-bg{
		background-image:url(../../images/screens/websites2y515.jpg);
		background-position: left -1030px;
	}
	&.ffs-bg{
		background-image:url(../../images/screens/websites3y515.jpg);
		background-position: left -515px;
	}
	&.schoolz-bg{
		background-image:url(../../images/screens/websites3y515.jpg);
		background-position: center -1545px;
	}
	&.mc-bg{
		background-image:url(../../images/screens/websites3y515.jpg);
		background-position: center -1030px;
	}
	&.placetrace-bg{
		background-image:url(../../images/screens/websites3y515.jpg);
		background-position: left 0;
	}
	&.oysterbay-bg{
		background-image:url(../../images/screens/websites1y515.jpg);
		background-position: center -1030px;
	}
	&.sff-bg{
		background-image:url(../../images/screens/websites1y515.jpg);
		background-position: center 0;
	}
	&.scopevisio-bg{
		background-image:url(../../images/screens/websites1y515.jpg);
		background-position: left -515px;
	}
	&.nzso-bg{
		background-image:url(../../images/screens/websites2y515.jpg);
		background-position: left 0;
	}
	&.kiwirail-bg{
		background-image:url(../../images/screens/websites1y515.jpg);
		background-position: center -1545px;
	}
	&.hito-bg{
		background-image:url(../../images/screens/websites2y515.jpg);
		background-position: center -515px;
	}
	&.dryitonline-bg{
		background-image:url(../../images/screens/websites2y515.jpg);
		background-position: left -1545px;
	}
}
