/*-----------------------------------
STYLES FOR MULTIPLE PAGES
-------------------------------------*/
body{
	position:absolute;
	width:100%;
	height:100%;
	margin:0%;
	background-color:#9FB3E6;
	overflow:hidden;
	line-height:100%;
	font:100% Tahoma,Geneva,helvetica,sans-serif;
}
a{
	color:#548c69;
}
a:hover, a:hover span{
	color:black;
}
h1{
	margin:0% 0% 4% 0%;
	font-size:14px;
}
h2{
	text-align:center;
	font-family:helvetica,arial;
	color:#039499;
}
h4{
	font-size:14px;
}
sup{
	line-height:14px;
	padding-top:6px;
	font-size:14px;
	display:block;
}
#footer{
	position:absolute;
	width:95%;
	bottom:25px;
	left:2.5%;
	text-align:right;
	color:#03C;
	font-size:0.8em;
}	#footer h1{
		font:bold 130% Verdana,Tahoma,Geneva,helvetica,sans-serif;
		margin:0 auto;
	}
	#footer a{
		color:black;
	}
	#footer a:hover{
		color:green;
	}
#header{
	position:absolute;
	width:80%;
	height:25%;
	left:10%;
	top:0%;
	opacity:0.9;
	filter:alpha(opacity=90);
	border-bottom:13px groove #039499;
}	#header img{
		width:80%;
		height:80%;
	}
#homeHeader{
	position:absolute;
	width:90%;
	height:20%;
	left:5%;
	top:0%;
	opacity:0.9;
	filter:alpha(opacity=90);
	border-bottom:13px groove #039499;
	text-align:center;
}	#homeHeader img{
		height:auto;
		margin:0 auto;
		max-width:333px;
	}
/*------------------------------------------
STYLES FOR THE HOME PAGE (index.php)
--------------------------------------------*/
#homeFrame{
	width:95%;
	height:95%;
	border:13px groove #039499;
	border-top:none;
	border-bottom:none;
	margin-left:1%;
	margin-top:1%;
}
#homeFrame #footer{
	text-align:center;
}
#homeImage{
	position:absolute;
	width:50%;
	height:50%;
	top:33%;
	left:25%;
	opacity:0.6;
	filter:alpha(opacity=60);
}	#homeImage img{
		width:100%;
		height:auto;
	}
	#gamePlayList{
		height:95%;
		width:90%;
		font-size:110%;
		font-family:sans-serif;
		color:#039;
		list-style-type:square;
		overflow:auto;
	}
	#gamePlayList li{
		display:block;
		padding-bottom: 8px;
	}
	#loginLink{
		position:absolute;
		bottom:30%;
		left:43%;
	}	#loginLink a{
		text-decoration:none;
	}
#homeButtonLeft{
	position:absolute;
	top:28%;
	left:7%;
	text-align: center;
}	#homeButtonLeft a{
		text-decoration:none;
	}
#homeButtonRight{
	position:absolute;
	top:28%;
	right:12%;
}
#loginForm{
	position:absolute;
	bottom:1%;
	left:35%;
}
/*--------------------------------------------
STYLES FOR THE GAME PAGE (play.php)
----------------------------------------------*/
#playHeader{
	position:absolute;
	width:64%;
	height:20%;
	top:0%;
	left:0%;
}	#playHeader img{
		width:100%;
		max-width:350px;
		height:auto;
		display:block;
		margin-left:20px;
		max-height:100px;
	}
	#header h1{
		color:#909;
		font:300% sans-serif;
	}
#infoArea{
	position:absolute;
	width:27%;
	height:78%;
	top:4%;
	right:1%;
	border:1px solid #9A4636;
	background-color:#6CC;
	padding-left:1%;
	font:120% sans-serif;
	color:#9A4636;
	overflow:auto;
} 	#infoArea h3{
		font-size:180%;
		color:black
		text-decoration:underline;
		margin-top:5%;
		margin-bottom:5%;
	}
	#infoArea h4{
		margin-bottom:4px;
		margin-top:5%;
		font-family:Verdana,Tahoma,Geneva,helvetica,sans-serif;
		color:#939;
	}
	#infoArea h5{margin-top:0%;}
#playArea{
	position:absolute;
	width:63%;
	height:95%;
	bottom:0%;
	left:0%;
	font-size:0.8em;
}
#playMenu{
	position:absolute;
	top:20%;
	left:66%;
}
#countryMenu{
	overflow:auto;
	width: 100%;
	height:245px;
	font-size:14px;
	border:2px solid #039;
}
#playMenu p{
		color:#039;
		text-align:center;
		font:120% sans-serif;
		margin-bottom:0%;
	}
#restart{
	position:absolute;
	bottom:10%;
	left:69%;
}	#restart a{
		font:140% impact;
		color:#9A4636;
		text-decoration:none;
	}
#nextRound{
	position:absolute;
	top:49%;
	left:67%;
	font:bold 180% monotype corsiva;
	text-decoration:none;
	display:none;
}
#playMap{
	position:absolute;
	width:50%;
	height:50%;
	left:3%;
	top:20%;
}	#playMap img{
		width:100%;
		max-width:300px;
		height:auto;
		border:2px solid #039;
	}
#playScore{
	position:absolute;
	width:66%;
	left:3%;
	bottom:12%;
	color:#090;
}	#playScore b{
		color:#039;
	}
	#scoreTable{
		color:#9A4636;
		font-size:20px;
		line-height:28px;
		font-family:sans-serif;
	}
	#scoreTable .row:first-child{
		position: relative;
		bottom: 20px;
	}
	#scoreTable .value{
		font-size: 28px;
	}
#gameFrame{
	width:95%;
	position:absolute;
	bottom:0.7%;
	left:2%;
	font-size:0.8em;
}
#endRound{
	position:absolute;
	width:40%;
	text-align:center;
	bottom:49%;
	left:58%;
	display:none;
}	#endRound a:hover{
		text-decoration:underline;
	}
#guessRight, #guessWrong{
	color:#9A4636;
	font:180% sans-serif;
	text-align:center;
	display:none;
}
/*-------------------------------------------
STYLES FOR THE ADMIN PAGE (admin.php)
---------------------------------------------*/
#adminHeader{
	position:absolute;
	top:31%;
	left:8%;
}
#adminPic{
	position:absolute;
	width:40%;
	height:45%;
	bottom:9%;
	right:10%;
}	#adminPic img{
		height:100%;
		width:100%;
	}
#adminHomeButton{
	position:absolute;
	top:30%;
	right:10%;
	font-size:150%;
}
#adminButtons{
	position:absolute;
	top:28%;
	left:5%;

}	#adminButtons em{font:120% bold;}
	#adminTable{margin-bottom:4%;}
	#adminList{
		list-style-type:none;
		margin-top:40%;
	}
#adminOption{
	position:absolute;
	top:39%;
	left:9%;
}
#adminCountryButton{
	position:absolute;
	top:100%;
	left:8%;
}
#back2port{position:absolute;width:9%;height:9%;bottom:1%;left:1%;}
#back2port img{width:100%;height:100%;}
/*--------------------CLASSES FOR ALL PAGES---------------------------------*/
.button{
	font:bold 120% Verdana,Tahoma,Geneva,helvetica,sans-serif;
	color:#547C69;
	text-decoration:none;
}	.button a:hover{color:#039499;}
.link{
	font:bold 130% Verdana,Tahoma,Geneva,helvetica,sans-serif;
	color:#D61A2D;
	text-decoration:none;
}
.answer{
	color:#D41C2C;
	font-size:130%;
}
/*#homeHeader, #homeFrame, #playHeader, #infoArea, #playArea{
	display: none;
}*/
