//
// mixins for buttons
//
@mixin pakButton() {
	// manage default, common button attributes
	@extend .texgyreheroscn-bold;
	font-size: 17px;
	padding: 0 30px;
	line-height: 2.2;
	text-transform: uppercase;
	//Fix Safari line height issue
}

@mixin buttonColour($bgColour, $colour) {
	// manage colour manipulation
	background: $bgColour;
	color: $colour !important;
}

@mixin verticalMiddle () {
	// manage but vertical-align stay in the middle
	top: 50%;
	position: absolute;
	margin-top: -20px;
	left: 20px;
}

//
// buttons styles
//

.btn {
	@include pakButton();
	@include buttonColour(black, $yellow);

	&:hover {
		@include buttonColour($yellow, black);
	}

	// &:active {
	// 	color: $yellow !important;
	// 	outline: 0 !important;
	// }

	&:focus {
		color: $yellow;
		outline: 0 !important;
	}

	&.disabled {
		@include buttonColour($divider-grey, white);
		cursor: not-allowed;
		pointer-events: visible;
		opacity: 1;
		color: white !important; //For IE9
		text-shadow: none !important; //For IE9
	}


	&.secondary {
		@include buttonColour($grey, black);
		
		&:hover {
			@include buttonColour($yellow, black);
		}
	}

	&.theme-contrast {
		border: 2px solid transparent;
		
		&:hover {
			border: 2px solid black;
		}

		&.disabled {
			@include buttonColour($dark-yellow, $yellow);
			color: $yellow !important; //For IE9
			&:hover {
				border: 2px solid $dark-yellow;
			}
		}

		&.secondary {
			@include buttonColour($dark-yellow, black);

			&:hover {
				@include buttonColour($yellow, black);
			}
		}
	}
}

//Target Safari to fix button line height issue
@supports (overflow:-webkit-marquee) and (justify-content:inherit){
	.btn {
	 line-height: 2;
	 padding-top: 6px;
	}
}