/* PREFIXED CSS */

$dropdown-height: 270px;

.dropdown {
  @include transitions(all 150ms ease-in-out);
  @include user-select();
  position: relative;
  border: 1px solid #ccc;
  cursor: pointer;
  background: #fff;
  
  div, li, div::after {
    @include transitions(all 150ms ease-in-out);
  }

  select {
    position: absolute;
    left: 0px;
    top: 0px;
  }
  
  div {
    position: absolute;
    height: 0;
    left: -1px;
    right: -1px;
    top: 100%;
    margin-top: -1px;
    background: #fff;
    border: 1px solid black;
    border-top: 1px solid black;
    // border-radius: 0 0 3px 3px;
    overflow: hidden;
    opacity: 0;
    z-index: 7;
    max-height: $dropdown-height;
  }
  
  ul {
    // position: absolute;
    left: 0;
    top: 0;
    height: 0;
    width: 100%;
    list-style: none;
    overflow: hidden;
    padding: 0;
    z-index: 100;
  }

  .selected, li {
    display: block;
    font-weight: bold;
    line-height: 1;
    color: $body-grey;
    padding: 12px 12px;
    overflow: hidden;
    white-space: nowrap;
  }

  li {
    list-style: none;
    position: relative;
    z-index: 7;
  
    &.focus {
      background: $yellow;
      position: relative;
      z-index: 3;
    }
    &.active {
      font-weight: 700;
    }
  }
  
  .selected::after, &.scrollable div::after {
    @include pointer-events();
  }

  .selected{
    border-color: $yellow;
    &:after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 60px;
      border-radius: 0 2px 2px 0;
    }
  }

  .carat {
    position: absolute;
    right: 12px;
    top: 50%;
    margin-top: -9px;
    z-index: 1;

    &:before{
      font-family: 'Glyphicons Halflings';
      color: $yellow;
      content: "\e114";
    }
  }

  .old {
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    width: 0;
    overflow: hidden;
  }
  
  &.open {
    z-index: 2;
    div {
      opacity: 1;
    }
    ul{
      height: 102%;
      overflow-y: scroll;
    }
    .carat {
      margin-top: -9px;
      &:before{
        font-family: 'Glyphicons Halflings';
        content: "\e113";
      }
    }
  }
  
  &.focus {
    border: 1px solid black;
    .selected {
      background: $yellow;
    }
    &.open{
      .selected{
        background: none;
      }
    }
  }
  
  &.disabled{
    background-color: $divider-grey;
    border-color: $divider-grey !important;
    cursor: not-allowed;
    .carat {
      border-top-color: #999;
      &:before{
        color: white;
      }
    }
    .selected {
      color: white;
    }
  }
  
  &.touch {
    .old {
      width: 100%;
      height: 100%;
    }
    select {
      width: 100%;
      height: 100%;
      opacity: 0;
    }

    &.focus {
      .carat:before {
        color: black;
      }
    }
  }
  
  &.scrollable {
    div::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 50px;
      box-shadow: inset 0 -50px 30px -35px #fff;
    }
    &.bottom div::after {
      opacity: 0;
    }
  }
  
  &.scrollable.open ul {
    overflow-y: auto;
  }
  
  &.clicked{
    border-color: $yellow;
    background-color: $yellow;
    .carat{
      border-top-color: black;
      &:before{
        color: black;
      }
    }

    &.open{
      .carat{
        border-top-color: white;
      }
    }
  }
}

.dob{
  label{
    display: block;
  }
  .dropdown-wrap{
    display: inline-block;
    margin-right: 7px;
    
    .dropdown{
      width: 100%;
      ul {
        height: 99%;
      }
      li{
        padding: 4px 0 0 12px;
      }
    }

    &.day{
      width: 66px;
    }
    &.month{
      width: 130px;
    }
    &.year{
      width: 82px;
    }
  }
  &.form-group{
    position: relative;
    .completed{
      position: absolute;
      display: block;
      top: 74px;
      left: 311px;
    }
  }
}

@media screen and (max-width: $main-breakpoint){
  .dob{
    .dropdown-wrap{
        margin: 0 0 15px;

        &.month {
          width: 120px;
        }
    }
    &.form-group{
      .completed{
        left: 100px;
        top: 23px;
      }
    }
  }
}

@media screen and (max-width: 320px){
  .dob{
    .dropdown-wrap{
      display: block;
    }
  }
  /*.dropdown.selected{
    background: $yellow;
    .carat{
      color: black !important;
      border-top-color: black !important;
    }
  }*/
}

