a{
	text-decoration: none !important;
	border-bottom: 1px solid black;
	&:hover{
		border-color: $yellow;
	}
}

.yellow{
	a:hover{
		border-color: white;
	}
}

label{
	color: $body-grey;
}

.tip-wrap{
	position: relative;
	.text{
		position: absolute;
		top: 0;
		left: 30px;
	}
}
.pnstooltip{
	position: relative;
	display: inline-block;
	/*img{
		width: 22px;
		height: 22px;
		border: 0;
		max-width: 22px;
	}*/
}

// Styles specific to components library page
body.components-library{
	background: $main-background;
	.components-header{
		padding-top: 40px;
		.mobile{
			display: none;
		}
	}
	.container-fluid{
		&.components-wrap{
			margin-top: 0;
		}
	}
	.bg-white{
		background: white;
	}
	.icon{
		display: block;
		height: 22px;
	}
	.card.invite{
		margin: 0;
	}
	.tooltips{
		padding-top: 30px;
		.pull-left{
			.pnstooltip{
				margin-left: 0;
			}
		}
	}
	.row{
		position: relative;
		z-index: 1;
		&.noti-row, &.forms-row{
			z-index: 2;
		}
	}
	
}

//Target Safari to fix line height issues
@supports (overflow:-webkit-marquee) and (justify-content:inherit){
	.btn {
	 line-height: 2;
	 padding-top: 6px;
	}
	.alert h4{
		line-height: 28px;
	}
}

@media screen and (max-width: $main-breakpoint){

	body.components-library{
		h4, .h4, h5, .h5{
			margin: 0;
		}
		.container-fluid{
			width: 100%;
		}
		.components-header{
			.mobile{
				display: block;
			}
			.desktop{
				display: none;
			}
		}
	}
	
}

@media screen and (max-width: $mobile-breakpoint){
	body.components-library{
		.card-footer{
			.btn, .btn.pull-left, .btn.pull-right{
		 		float: none !important;
		 		display: block;
		 		width: 100%;
		 	}
		 	.btn:first-child{
		 		margin-bottom: 15px;
		 	}
		 }
	}
}