.modal {
	// prefix make the modal stay in the middle 
	text-align: center;
	padding: 0!important;
	&:before {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		margin-right: -4px; /* Adjusts for spacing */
	}

	.modal-dialog{
		width: 470px;
		// prefix make the modal stay in the middle 
		display: inline-block;
		text-align: left;
		vertical-align: middle;

		.modal-content {
			border-radius: 0;
			background: $off-white;
			
			.modal-header {
				border-bottom: 1px dashed $divider-grey;
				.close{
					background: rgba(0, 0, 0, 0) url("../images/icons/PnS_close_black.svg") no-repeat scroll 0 0;
					position: absolute;
					top: 10px;
					right: 10px;
					margin-top: 0;
					outline: none;
					// width: 22px;
					// height: 22px;
				}
			}
		}

		.modal-footer {
			position: relative;
			background: $yellow;
			border-top: 0;
			padding: 30px 20px;

			.btn.theme-contrast.secondary {
				// @include verticalMiddle ();
			}
		}
	}
}

.modal-backdrop {
    opacity: 0.7 !important;
}