.notifications{
	*:focus{
		outline: none;
	}
	ul li{
		height: 22px;
		z-index: 1;
		
		a{
			border-bottom: 0 !important;
			.icon-hidden{
				display: none;
				width: 30px;
				height: 30px;
			}
			
		}
		&.active{
			z-index: 2;
			.icon{
				display: none;
			}
			.icon-hidden{
				display: block;
			}
		}
		&:last-child{
			left: 276px;
		}
	}

	.nav li{
		a{
			color: black !important;
			margin: 0;
		}
		.link{
			a{
				font-size: 11px;
				line-height: 11px;
				border-bottom: 1px solid black !important;
				text-transform: uppercase;
				&:hover{
					border-bottom-color: $yellow !important;
				}
			}
		}
		.num{
			color: white;
			background: $red;
			position: absolute;
			bottom: -3px;
			right: -6px;
			@include border-radius(10px);
			font-size: 10px;
			line-height: 10px;
			padding: 3px;
			min-width: 16px;
			text-align: center;
			display: block;
		}
	}
	
	.icon{
		width: 30px !important;
		height: 30px !important;
	}
	.inner-card, .nav-pills > li > a{
		background: $yellow !important;
	}
	.inner-card{
		padding: 40px 30px;
		border-bottom: 5px solid black;
	}
	.tooltip{
		cursor: text;
		.tooltip-inner{
			max-width: 236px;
			width: 236px;
			background: white;
			color: #333;
			box-shadow: 0 0 3px #ccc;
			padding: 0;
		}
		.icon{
			display: block !important;
			background-size: cover;
		}
		
		
		&.bottom{
			top: 59px !important;
			.tooltip-arrow{
				margin-left: -20px;
				top: -30px;
				border-width: 0 20px 42px;
				border-bottom-color: white;
			}
		}
		&.in{
			opacity: 0.99;
		}
	}
	.top{
		padding: 15px 0;
		h4{
			span{
				display: block;
				color: $grey-text;
				font-family: 'texgyreheroscn-regular';
			}
		}
		.noti-close{
			width: 22px;
			height: 22px;
			display: block;
			position: absolute;
			top: 10px;
			right: 5px;
			cursor: pointer;
			background: url(../images/icons/PnS_close.svg) no-repeat 0 0 / cover;
		}
	}
	.mid, .bot{
		padding: 15px 0;
		border-top: 1px dashed $divider-grey;
	}
	.mid{
		a{
			@extend h3;
			display: block;
		}
	}
	
	.btn-close{
		display: block;
		position: absolute;
		top: 7px;
		right: 3px;
		width: 22px;
		height: 22px;
		background: url(../images/icons/PnS_close_small.svg) no-repeat 0 0;
		cursor: pointer;
		display: none;
	}
	.notification{
		text-align: left;
		border-top: 1px dashed $divider-grey;
		padding: 20px;
		position: relative;
		.title{
			/*background: url(../images/icons/icon-confirm.svg) no-repeat 0 0;
			padding-left: 27px;
			line-height: 25px;*/
		}
		small{
			display: block;
			padding: 3px 0 10px;
			font-size: 10px;
			line-height: 12px;
			color: $body-grey;
			font-family: Arial;
		}
		.text{
			padding: 5px 0;
			color: $body-grey;
		}
	}
	.account-noti{
		text-align: center;

		.icon{
			margin: 0 auto;
			background: url(../images/icons/PnS_account.svg) no-repeat 0 0;
		}
	}
}

@media screen and (min-width: $mobile-breakpoint){
	.notifications{
		ul li:hover{
			.icon{
				display: none;
			}
			.icon-hidden{
				display: block;
			}
		}
	}
}

@media screen and (max-width: $main-breakpoint){
	body.components-library{
		.notifications{
			ul li:last-child{
				left: 10px;
			}
			.tooltip-inner{
				width: 300px;
				max-width: 300px;
			}

		}
	}
}

@media screen and (max-width: $mobile-breakpoint){
	.notifications{
		.tooltip{
			left: 0 !important;
			width: 100% !important;
			text-align: center;
		}
		.tooltip-inner{
			position: absolute;
			left: -75px;
		}
		.nav{
			li:first-child{
				.tooltip-inner{
					left: -34px !important;
				}
			}
		}
	}
}