.bootstrap-switch{
  @include user-select();
  @include border-radius(20px);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: relative;
  display: inline-block;
  direction: ltr;
  cursor: pointer;
  text-align: left;
  overflow: hidden;
  line-height: 8px;
  z-index: 0;
  margin-right: 15px;
  padding: 0 3px;
  vertical-align: middle;
  font-weight: bold;

  .bootstrap-switch-container{
    @include border-radius(20px);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    @include transitions(margin-left 0.5s);
    display: inline-block;
    top: 0;
    background-color: $yellow;
    overflow: hidden;

    span {
      cursor: pointer;
      display: inline-block;
      height: 100%;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      z-index: 1;
      color: black;
      @include border-radius(20px);
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;

      &.bootstrap-switch-label{
        z-index: 3;
        color: #333333;
        background: black;
        width: 26px !important;
        height: 26px;
        margin-top: -2px;
        vertical-align: middle;
        display: inline-block;
        @include border-radius(20px);
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;

      }
    }
    
  }

  input {
    display: none;
  }

  &.bootstrap-switch-off{
    .bootstrap-switch-container{
      background: $divider-grey;
      span.bootstrap-switch-label{
        background: black;
      }
    }
  }

  &.lock-unlock{
    &.bootstrap-switch-on{
      .bootstrap-switch-handle-on{
          background: rgba(0, 0, 0, 0) url("../../images/icons/PnS_lock.svg") no-repeat scroll 50% center / 20px auto;
      }
    }
  }

  &.lock-unlock{
    &.bootstrap-switch-off{
      .bootstrap-switch-handle-off{
          background: rgba(0, 0, 0, 0) url("../../images/icons/PnS_unlock.svg") no-repeat scroll 50% center / 20px auto;
      }
    }
  }

  &.hover{
    &.bootstrap-switch-off .bootstrap-switch-container span.bootstrap-switch-label{
        background: white;
      }
      &.bootstrap-switch-on .bootstrap-switch-container span.bootstrap-switch-label{
        background: white;
      }
  }

  /*&.bootstrap-switch-mini {
    .bootstrap-switch-handle-on, .bootstrap-switch-handle-off, .bootstrap-switch-label {
      padding: 1px 5px;
      font-size: 12px;
      line-height: 1.5;
    }
  }
  &.bootstrap-switch-small {
    .bootstrap-switch-handle-on, .bootstrap-switch-handle-off, .bootstrap-switch-label {
      padding: 5px 10px;
      font-size: 12px;
      line-height: 1.5;
    }
  }
  &.bootstrap-switch-large {
    .bootstrap-switch-handle-on, .bootstrap-switch-handle-off, .bootstrap-switch-label {
      padding: 6px 16px;
      font-size: 18px;
      line-height: 1.3333333;
    }
  }
  &.bootstrap-switch-disabled, &.bootstrap-switch-readonly, &.bootstrap-switch-indeterminate {
    cursor: default !important;
  }
  &.bootstrap-switch-disabled .bootstrap-switch-handle-on, &.bootstrap-switch-readonly .bootstrap-switch-handle-on, &.bootstrap-switch-indeterminate .bootstrap-switch-handle-on, &.bootstrap-switch-disabled .bootstrap-switch-handle-off, &.bootstrap-switch-readonly .bootstrap-switch-handle-off, &.bootstrap-switch-indeterminate .bootstrap-switch-handle-off, &.bootstrap-switch-disabled .bootstrap-switch-label, &.bootstrap-switch-readonly .bootstrap-switch-label, &.bootstrap-switch-indeterminate .bootstrap-switch-label {
    opacity: 0.5;
    filter: alpha(opacity = 50);
    cursor: default !important;
  }*/

  /*&.bootstrap-switch-off{
    border-color: $divider-grey;
    
    .bootstrap-switch-container{
        background: $divider-grey;

        .bootstrap-switch-primary{
          background: $divider-grey;
        }

        .bootstrap-switch-default{
          background: $divider-grey;
        }
        
    }
  }*/
  
  /*.bootstrap-switch-handle-on.bootstrap-switch-primary, .bootstrap-switch-handle-off.bootstrap-switch-primary {
    color: #000000;
    background: #ffd600;
    font-family: texgyreheroscn-bold,Arial,Calibri,sans-serif;
    
  }
  .bootstrap-switch-handle-on.bootstrap-switch-default, .bootstrap-switch-handle-off.bootstrap-switch-default {
    color: #000;
    background: #ffd600;
    font-family: texgyreheroscn-bold,Arial,Calibri,sans-serif;
  }
  .bootstrap-switch-handle-on.bootstrap-switch-info, .bootstrap-switch-handle-off.bootstrap-switch-info {
    color: #fff;
    background: #5bc0de;
  }
  .bootstrap-switch-handle-on.bootstrap-switch-success, .bootstrap-switch-handle-off.bootstrap-switch-success {
    color: #fff;
    background: #5cb85c;
  }
  .bootstrap-switch-handle-on.bootstrap-switch-warning, .bootstrap-switch-handle-off.bootstrap-switch-warning {
    background: #f0ad4e;
    color: #fff;
  }
  .bootstrap-switch-handle-on.bootstrap-switch-danger, .bootstrap-switch-handle-off.bootstrap-switch-danger {
    color: #fff;
    background: #d9534f;
  }*/
  
}

@media screen and (max-width: $mobile-breakpoint){
  .bootstrap-switch{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 0;
    margin-right: 5px;
  }

  .modal {
    .bootstrap-switch{
      padding: 0 3px;
      margin-right: 5px;
      min-width: 77px !important;
    }
  }
  
  #notification{
    .row{
      .col-xs-12:first-child{
        .col-xs-4{
          width: 38%;
          padding-right: 0;
        }
        .col-xs-4:first-child{
          width: 24%;
          padding-top: 5px;
        }
      }
    }

    .bootstrap-switch{
      padding: 0 3px;
      margin-right: 5px;
      min-width: 74px !important;
    }
  }

  #sticky-club-card{
    
    .bootstrap-switch{
      padding: 0 3px;
      margin-right: 5px;
      min-width: 64px !important;
    }
  }
}

@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 2) {
  .bootstrap-switch{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 0;
    margin-right: 5px;
  }
}

/*@media screen and (min-width: $mobile-breakpoint){
    .bootstrap-switch{
      &.bootstrap-switch-off:hover .bootstrap-switch-container span.bootstrap-switch-label{
        background: black;
      }
      &.bootstrap-switch-on:hover .bootstrap-switch-container span.bootstrap-switch-label{
        background: white;
      }
    }
   
}*/
