html, body, div, span, applet, object, iframe, input, img,
h1, h2, h3, h4, h5, h6, p, a, strong, sub, sup, dl, dt, dd, ol,
fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td{
	margin:0; padding:0; border:0;
}
header, nav, section, article, footer, video, audio, hgroup, aside{ display:block;}
:focus{	outline:0;}
html, body{ width:100%;	height:100%;}
body{
	color:black; background:white;
	font:normal 12px/16px Arial, Helvetica, sans-serif;
}
a{ cursor:pointer;}
table{ border:0;}
img{ border:0; display:block;}
caption, th, td{
	text-align:left; vertical-align:top;
	font-weight:inherit; font-family:inherit; font-size:inherit; font-style:inherit;
}
blockquote:before, blockquote:after, q:before, q:after{ content:"";}
blockquote, q{	quotes:"" "";}
.clear{ clear:both;}
.clearfix:after, ul.menu:after{
	content:"."; height:0; clear:both; 
	display:block; visibility:hidden;
}
ul.menu, ul.menu li{ margin:0; padding:0; display:block;}
ul.menu li{ list-style:none; float:left;}
.errors, .error{ color:#F00;}
.left{ float:left;}
.right{ float:right;}
.hidden{ display:none;}