@import url('reset.css');
body{ text-align:center;}
.element-invisible{ display:none;}
#main-wrapper{ width:900px; margin:0 auto; text-align:left;}
#logo, #name-and-slogan{ width:200px; height:100px; float:left;}
#navigation{ width:400px; float:left;}
#content{ width:600px; float:left;}
.sidebar{ width:300px; float:right;}

/*-------------------Form Styles----------------------*/
input.form-text{ border:1px solid #333;}