
/* ------------------------------------------------- */
// Stylesheet for Font Embed
/* ------------------------------------------------- */

@font-face {
    font-family: 'texgyreheroscn-regular';
    src: url('../fonts/texgyreheroscn_regular_macroman/texgyreheroscn-regular-webfont.eot?#iefix');
    src: url('../fonts/texgyreheroscn_regular_macroman/texgyreheroscn-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/texgyreheroscn_regular_macroman/texgyreheroscn-regular-webfont.svg#texgyreheroscnbold') format('svg'),
         url('../fonts/texgyreheroscn_regular_macroman/texgyreheroscn-regular-webfont.woff') format('woff'),
         url('../fonts/texgyreheroscn_regular_macroman/texgyreheroscn-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'texgyreheroscn-bold';
    src: url('../fonts/texgyreheroscn-bold-macroman/texgyreheroscn-bold-webfont.eot?#iefix');
    src: url('../fonts/texgyreheroscn-bold-macroman/texgyreheroscn-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/texgyreheroscn-bold-macroman/texgyreheroscn-bold-webfont.svg#texgyreheroscnbold') format('svg'),
         url('../fonts/texgyreheroscn-bold-macroman/texgyreheroscn-bold-webfont.woff') format('woff'),
         url('../fonts/texgyreheroscn-bold-macroman/texgyreheroscn-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* ------------------------------------ */
/* ! 02. Typography                     */
/* ------------------------------------ */

/* Font stack */

.texgyreheroscn-regular {
    font-family: texgyreheroscn-regular, Arial, Calibri, sans-serif;
}
.texgyreheroscn-bold {
    font-family: texgyreheroscn-bold, Arial, Calibri, sans-serif;
}
.ui-body-a , .ui-body-b , .ui-body-c {
    .texgyreheroscn-bold {
        font-family: texgyreheroscn-bold, Arial, Calibri, sans-serif;
    }
}

p {
    font-family: Arial, Calibri, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: $body-grey;
    margin: 0;

    &.small{
        font-size: 10px;
        line-height: 12px;
    }

    &.grey {
        color: $grey-bg;
    }

}

a {
    color: black;
    
    &:hover {
        color: black;    
    }
}


.ui-body-a , .ui-body-b , .ui-body-c {
    h1, h2, h3, h4, h5, input, select, textarea, button {
        @extend .texgyreheroscn-regular;
    }
}


h1, h2, h3, h4, h5 {
    color: $heading-grey;
    @extend .texgyreheroscn-bold;
}

h1 {
    font-size: 40px;
    line-height: 1.2;
}

h2 {
    font-size: 30px;
    line-height:32px;
}

h3 {
    font-size: 23px;
    line-height:27px;
}

h4 {
    font-size: 17px;
    line-height:20px;
    
    &.sub-title {
        color: $medium-grey;
    }
}

h5 {
    font-size: 15px;
    line-height:18px;
}

.text-color-grey{
	color: #B5B5B5;
}
.text-color-dark-grey{
	color: $dark-grey;
}
.text-color-body-grey{
	color: $body-grey;	
}
.text-color-dark-body-grey{
	color: $dark-body-grey;	
}