
/* ------------------------------------------------- */
// Spacing system for margin and padding
/* ------------------------------------------------- */

.no-margin {
	margin:0 !important;
}

.no-padding {
	padding:0 !important;
}

.no-left-padding {
	padding-left: 0 !important;
}

.no-right-padding {
	padding-right: 0 !important;
}

.v-middle{
	vertical-align: middle;
    display: inline-block;
}


.margin-sp5 {
	margin:5px !important;
}
.margin-sp5-left {
	margin-left:5px !important;
}
.margin-sp5-right {
	margin-right:5px !important;
}
.margin-sp5-top {
	margin-top:5px !important;
}
.margin-sp5-bottom {
	margin-bottom:5px !important;
} 


.margin-sp10 {
	margin:10px !important;
}
.margin-sp10-left {
	margin-left:10px !important;
}
.margin-sp10-right {
	margin-right:10px !important;
}
.margin-sp10-top {
	margin-top:10px !important;
}
.margin-sp10-bottom {
	margin-bottom:10px !important;
} 


.margin-sp15 {
	margin:15px !important;
}
.margin-sp15-left {
	margin-left:15px !important;
}
.margin-sp15-right {
	margin-right:15px !important;
}
.margin-sp15-top {
	margin-top:15px !important;
}
.margin-sp15-bottom {
	margin-bottom:15px !important;
}


.margin-sp20 {
	margin:20px !important;
}
.margin-sp20-left {
	margin-left:20px !important;
}
.margin-sp20-right {
	margin-right:20px !important;
}
.margin-sp20-top {
	margin-top:20px !important;
}
.margin-sp20-bottom {
	margin-bottom:20px !important;
}


.margin-sp25 {
	margin:25px !important;
}
.margin-sp25-left {
	margin-left:25px !important;
}
.margin-sp25-right {
	margin-right:25px !important;
}
.margin-sp25-top {
	margin-top:25px !important;
}
.margin-sp25-bottom {
	margin-bottom:25px !important;
}


.margin-sp30 {
	margin:30px !important;
}
.margin-sp30-left {
	margin-left:30px !important;
}
.margin-sp30-right {
	margin-right:30px !important;
}
.margin-sp30-top {
	margin-top:30px !important;
}
.margin-sp30-bottom {
	margin-bottom:30px !important;
}

.margin-sp40 {
	margin:40px !important;
}
.margin-sp40-left {
	margin-left:40px !important;
}
.margin-sp40-right {
	margin-right:40px !important;
}
.margin-sp40-top {
	margin-top:40px !important;
}
.margin-sp40-bottom {
	margin-bottom:40px !important;
}

.margin-sp50 {
	margin:50px !important;
}
.margin-sp50-left {
	margin-left:50px !important;
}
.margin-sp50-right {
	margin-right:50px !important;
}
.margin-sp50-top {
	margin-top:50px !important;
}
.margin-sp50-bottom {
	margin-bottom:50px !important;
}

.margin-sp60 {
	margin:60px !important;
}
.margin-sp60-left {
	margin-left:50px !important;
}
.margin-sp60-right {
	margin-right:60px !important;
}
.margin-sp60-top {
	margin-top:60px !important;
}
.margin-sp60-bottom {
	margin-bottom:60px !important;
}


.margin-sp100-bottom {
	margin-bottom:100px !important;
}