$body-font: 'Source Sans Pro', sans-serif;
$heading-font: 'Optima', sans-serif;

$dark: #303030;
$color-light: #eff1f2;
$blue: #0F7395;
$green: #51790B;
$dark-green: #43514B;
$red: #E22900;
$peach: #EEE7D5;
$aqua: #81c7e3;
$grey: #cdcdcd;
$light-grey: #e8e8e8;
$white: #fff;
$nav-link-hover: #737372;

$color-link: $green;
$color-link--hover: $dark-green;

$hero-height: 515px;
$content-width: 844px;
$max-content-width: 1024px;
$sticky-header-height: 66px;
$space: 12px;
$halfspace: 6px;
$work-bg: #999;
$animation-duration: 0.666s;
